<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
   


    <title>Cards</title>
</head>

<body>

    <!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <br />
        <h5 class="section-title h1">Lorem Picsum</h5>
        <hr />
        <div class="row">
            <!-- ADMINISTRAÇÃO -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="assets/img/Captura de tela 2023-07-07 151838.jpg" alt="card image"></p>

                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>


                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center" type="button">
                                        <h4 class="card-title administracao-fonte">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum nihil quod consequatur incidunt eos reprehenderit optio debitis officia soluta. Quam rerum consequatur expedita? Quod a quia veniam asperiores ipsa.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste sead" src="https://picsum.photos/200/300" alt="card image">

                                            </li>

                                        </ul>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ADMINISTRAÇÃO -->
            <!-- ASSISTENCIA SOCIAL -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title seas-fonte">Lorem Picsum</h4><h5>(LP)</h5>


                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title seas-fonte">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis autem molestiae alias explicabo officia est blanditiis deserunt dignissimos nisi voluptatibus voluptate, porro facilis quas magnam quos, numquam fugit. Quo, tempora.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                               <img class="img-fluid teste seas" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ASSISTENCIA SOCIAL -->
            <!-- ASSUNTOS INSTITUCIONAIS -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title seai-fonte">Lorem Picsum</h4><h5>(LP)</h5>


                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title fonte">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit facilis illum blanditiis esse provident delectus quo repellat hic adipisci? Unde corporis enim ratione ex molestiae maxime velit voluptates consequatur omnis.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                               <img class="img-fluid teste seai" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ASSUNTOS INSTITUCIONAIS -->
            <!-- CULTURA E TURISMO -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title sectur-fonte">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title sectur-fonte">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut cupiditate laudantium, tenetur, blanditiis eos eveniet iste adipisci molestias ipsum sed libero, tempora error recusandae ea reiciendis similique in eligendi dolore?</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste sectur" src="https://picsum.photos/200/300" alt="card image" />
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./CULTURA E TURISMO -->
            <!-- EDUCAÇÃO -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">ELorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title ">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos esse eius rerum ex delectus, assumenda, dolor iusto magni veniam nemo et facere laboriosam hic soluta ullam quaerat reprehenderit ipsam officia.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                               <img class="img-fluid teste seduc" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./EDUCAÇÃO -->
            <!-- ESPORTE -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa ex, incidunt aperiam optio excepturi voluptatem a quia aspernatur veniam saepe voluptas accusamus distinctio quibusdam, beatae veritatis molestias debitis soluta consequuntur.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                             <img class="img-fluid teste seel" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ESPORTE -->
            <!-- FINANÇAS -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur mollitia optio dicta voluptatem rerum omnis, ab aspernatur saepe harum nemo ipsum, corporis commodi aliquid doloribus quaerat delectus vitae tempore veritatis.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste sefin" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./FINANÇAS-->
            <!-- GABINETE DA PREFEITA -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title gp-fonte">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque maiores odio numquam nulla eligendi? Modi quod expedita unde? Quasi optio recusandae illum autem ducimus quam tenetur dolores nesciunt. Aperiam, itaque.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste gp" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./GABINETE DA PREFEITA -->
            <!-- GOVERNO -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">GLorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit vitae omnis, quia quaerat eaque est! Sit totam minima tenetur, obcaecati voluptate, nobis blanditiis commodi qui, corporis odit laborum mollitia expedita.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste seg" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./GOVERNO  -->
            <!-- HABITAÇÃO -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ex perspiciatis atque temporibus blanditiis sapiente consequatur ipsum quae magni corrupti eligendi, voluptates rem voluptate doloribus modi, hic dignissimos itaque. Obcaecati?</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste sehab" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./HABITAÇÃO -->
            <!-- MEIO AMBIENTE -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, deleniti maiores eaque eveniet iure doloribus maxime autem? Ex, aspernatur suscipit veritatis nihil molestias temporibus. Nam minus quia repudiandae at consequuntur!</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste sema" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./MEIO AMBIENTE -->
            <!-- OBRAS PUBLICAS -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sunt totam, in voluptatum pariatur est maxime obcaecati fugiat ex tempore error dicta earum officia omnis ab, rem harum perferendis similique?</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste seop" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./OBRAS PUBLICAS -->
            <!-- PLANEJAMENTO -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a  class="btn-sm" asp-controller="Servicos-online" asp-action="planejamento" asp-area="">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quam illo sint magnam enim est qui vel, et voluptate. Explicabo debitis accusantium quas ipsam libero, dignissimos dolor? Nihil, consectetur enim.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste seplan" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./PLANEJAMENTO -->
            <!-- PROCURADORIA -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, sapiente explicabo! Eligendi ex quod sint in. Fugit odit praesentium, voluptas accusantium corrupti debitis rem consequatur, officiis, saepe exercitationem dicta doloremque!</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img class="img-fluid teste progem" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./PROCURADORIA -->
            <!-- SAUDE -->
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <p><img class=" img-fluid" src="https://picsum.photos/200/300" alt="card image"></p>
                                    <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <a href="#" class="btn-sm">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lorem Picsum</h4><h5>(LP)</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos officiis repellat veritatis, similique sit enim exercitationem quis repellendus! Libero suscipit quibusdam unde quae odit quam deserunt totam ducimus praesentium exercitationem.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                               <img class="img-fluid teste sesap" src="https://picsum.photos/200/300" alt="card image">
                                            </li>
                                        </ul>
                                    </div>
                                 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./SAUDE-->
          


        </div>
    </div>
</section>
<!-- Team -->
<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>