<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/Style.css" />
    <title>Wifi</title>
</head>


<body>

    <div class="container margem">
        <div class="corpo">
            <span class="titulo">WI-FI</span>
            <BR>
            <p>O Wi-fi PG é o serviço de internet sem fio e gratuita da Prefeitura de Praia Grande. Atualmente está em
                período de testes, funcionando em 2 pontos da cidade, sendo posteriormente ampliado e implementado em
                diversos outros locais como praças, espaços abertos de uso público, conjuntos habitacionais e unidades
                que ofereçam serviço público com local de espera.<br>

                O serviço visa promover a inclusão digital da população, através de conexão segura, estável, de
                qualidade e gratuita. O serviço pretende democratizar o acesso à internet, ampliando as oportunidades de
                aprendizado, trabalho e entretenimento para a população.<br>

                Além disso, o serviço também visa promover o acesso à informação através da tecnologia, a fim de ampliar
                a cidadania digital e contribuir para o desenvolvimento econômico da cidade.
            </p>

        </div>


        <div class="d-flex justify-content-center">
            <img class="imagem img-fluid" src="assets/img/banner.jpg">
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span class="sub-titulo">OBJETIVO GERAL</span>
                <ul>
                    <li>Ofertar oportunidade de inclusão digital;</li>
                    <li>Oferecer conexão de internet gratuita à população;</li>
                    <li>Oferecer agilidade e mobilidade na oferta de serviços públicos;</li>
                    <li>Incentivar o uso de procedimentos digitais (públicos e privados);</li>
                    <li>Democratização da Internet;</li>
                    <li>Divulgação de serviços de utilidade pública.</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6">
                <span class="sub-titulo">RESULTADOS ESPERADOS</span>
                <ul>
                    <li>Acesso da população aos serviços digitais disponibilizados pela Administração;</li>
                    <li>Acesso à informação, à cultura e ao lazer propiciados pela internet;</li>
                    <li>Ampliar a rede de atendimento;</li>
                    <li>Diminuir deslocamentos.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="fundo py-3"><Span class="px-5">Cadastre-se</Span></div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-4 col-sm-6 alinhamento-botao">
                <button class="btn w-100 style-btn">Criar Cadastro</button>
            </div>
            <div class="col-md-4 col-sm-6 alinhamento-botao">
                <button class="btn w-100 style-btn">Fazer Login</button>
            </div>
            <div class="col-md-4 col-sm-6 alinhamento-botao">
                <button class="btn w-100 style-btn">Esqueci Minha Senha</button>
            </div>
        </div>
        <br>
        <hr size="8" align="center" noshade class="linha style-linha">

        <div class="accordion" id="accordionExample">
            <div class="item">
                <div class="item-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            COMO ACESSAR O WI-FI PÚBLICO
                            <i class="bi bi-chevron-up"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="t-p">
                        O acesso pode ser feito nos pontos de acesso disponíveis. Para o acesso é necessário realizar um
                        cadastro ou, caso você já tenha cadastro, basta acessar com seu Login e Senha.<br><br>

                        Para a primeira conexão será necessário que o usuário aceite os termos de uso, segurança e
                        atendimento da LGPD.<br><br>

                        Todos os dados cadastrados ficarão armazenados em banco de dados da prefeitura, de forma segura
                        e protegida, para identificação e acesso aos demais serviços digitais oferecidos pelo município,
                        para integração automática entre sistemas operacionais e de forma anonimizada em análises e
                        estudos para implantação de políticas públicas.

                    </div>
                </div>
            </div>

            <hr size="8" align="center" noshade class="linha style-linha">

            <div class="item">
                <div class="item-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            COMO ME CADASTRAR
                            <i class="bi bi-chevron-up"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="t-p">
                        O cadastro pode ser realizado acessando o link <a class="link-acesso" href="
                        #"> Cadastrando Aqui  </a> de casa ou nos
                        pontos de Wi-Fi
                        gratuito.

                        Para o cadastro são necessários os seguintes dados:
                        <ul>
                            <li>CPF</li>
                            <li>Senha</li>
                            <li>Nome Completo</li>
                            <li>E-mail</li>
                            <li>Telefone</li>
                        </ul>
                        <b>OBS:</b> Após preencher os dados, é necessário aceitar o termo de veracidade das informações
                        e concordância com os termos, condições e política de privacidade do município.
                    </div>
                </div>
            </div>

            <hr size="8" align="center" noshade class="linha style-linha">

            <div class="item">
                <div class="item-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ONDE POSSO ACESSAR O “WI-FI”
                            <i class="bi bi-chevron-up"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="t-p">
                        <b> O projeto piloto está em testes por 30 dias a contar do dia 01 de junho de 2023.</b> <br>

                        Os pontos de Wi-Fi gratuito do projeto piloto são:
                        <ul>
                            <li><b>Praça Municipal</b> <br>
                                Endereço: Av. Pres. sao judas, 9000 - Nova, Pheira rio - PS, 10000-065</li>
                            <li> <b>Parque da Cidade alta</b><br>
                                Endereço: R. José sebastiao - Sítio da Grama, Pheira Rio - PS, 10000-002</li>
                        </ul>


                    </div>
                </div>
            </div>

            <hr size="8" align="center" noshade class="linha style-linha">

            <div class="item">
                <div class="item-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            NÃO RECEBI O E-MAIL DE CONFIRMAÇÃO, O QUE EU FAÇO?
                            <i class="bi bi-chevron-up"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="t-p">
                        O e-mail de confirmação é enviado para o e-mail que você cadastrou. Você deve acessar sua caixa
                        de entrada do e-mail e confirmar seu cadastro clicando no link de confirmação. Lembre-se de
                        verificar também a área de “SPAM” ou “Lixo Eletrônico”.<br>

                        Caso ainda não consiga acessar o e-mail de verificação, basta clicar em “Esqueci minha senha”
                        que um novo e-mail será enviado.

                    </div>
                </div>
            </div>
            <hr size="8" align="center" noshade class="linha style-linha">

            <div class="item">
                <div class="item-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            MINHA INTERNET PAROU DEPOIS DE UM TEMPO. O QUE EU FAÇO?
                            <i class="bi bi-chevron-up"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="t-p">
                        Após um tempo, saia da rede e tente conectar novamente. Lembre-se que a qualidade de acesso está
                        vinculada ao número total de pessoas que acessam em um dado momento.<br>

                        Lembrando que após 10 minutos sem atividade será necessário realizar uma nova conexão.


                    </div>
                </div>
            </div>

            <hr size="8" align="center" noshade class="linha style-linha">

            <div class="item">
                <div class="item-header" id="headingsix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                            AINDA TEM ALGUMA DÚVIDA QUE NÃO SE ENCONTRA AQUI?
                            <i class="bi bi-chevron-up"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                    <div class="t-p">
                        Se você tiver alguma dúvida ou quer fazer alguma sugestão, basta enviar um e-mail para
                        <a class="link-acesso"
                            href="mailto:wifi@sistema.com.br?subject=Assunto do email">wifi@sistema.com.br </a> que
                        responderemos assim que possível.


                    </div>
                </div>
            </div>
        </div>
    </div>








    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>