<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Praia grande</title>
  <link rel="stylesheet" href="CSS-teste.css">
</head>

<body>
  <section id="particle-section" class="elementor-section elementor-section-full_width">
    <div id="particles-js"></div>
</section>


</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="script-teste.js"></script>
</html>