<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Contato</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <section class="contato">
    <div class="d-flex justify-content-center">
        <img class="imagem" src="assets/img/15355888_SL_031721_41490_22.jpg">
        <img class="img-fluid imagem-mobile" src="assets/img/15355888_SL_031721_41490_22.jpg">
    </div>
    <br />
    <div class="container margem">
    
    
        <div class="corpo">
            <span class="titulo">
                <b style="padding-left: 30px; float: left;">APROVAÇÃO DE PROJETOS PARTICULARES</b><br />
                
            </span>
            <BR>
            <div class="t-p smt-4">
                Lei Complementar nº180  de 11 de dezembro de 1982 e alterações posteriores.
                <br /><br />
                O Alvará de Aprovação é o documento expedido pela Secretaria de Urbanismo certificando que o projeto atende as normas e a legislação vigente do município.
                <br />
    
                Este documento é obrigatório e não autoriza o início da obra.
            </div>
    
        </div>
    
        <br>
    
    
    
        <div class="accordion" id="accordionExample">
    
            <div class="item">
                <div class="item-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#" aria-expanded="true" aria-controls="collapseOne">
                            APROVA ETF
    
                        </button>
                    </h2>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-12">
                        <a href="#" class="btn btn-execucao d-flex justify-content-center">NOVA SOLICITAÇÃO</a>
                    </div>
                    <div class="col-md-6 col-12">
                        <a href="#" class="btn btn-execucao d-flex justify-content-center">CONSULTAR ANDAMENTO</a>
                    </div>
                </div>
            </div>
            <br />
    
    
            <div class="item">
                <div class="item-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Agendamento" aria-expanded="true" aria-controls="collapseOne">
                            Para requerer a APROVAÇÃO DE PROJETO, é necessário:
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </h2>
                </div>
                <div id="Agendamento" class="collapse conteudo-colapse" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="t-p mt-4">
                        <ul>
                            <li>Indicar um profissional habilitado (arquiteto ou engenheiro) para a responsabilidade técnica quanto à elaboração das plantas/desenhos técnicos  e demais documentos.</li>
                            <li>Requerer <b>FICHA TÉCNICA.</b></li>
                            <li>Requerer o <b>ALVARÁ DE ALINHAMENTO E NIVELAMENTO.</b></li>
                            <li><i style="color:#fd7e14"> Apresentar documentação necessária.</i></li>
                        </ul>
                    </div>
                    <hr size="8" align="center" noshade class="linha style-linha">
                </div>
            </div>
            <br />
    
    
            <div class="item">
                <div class="item-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Quais" aria-expanded="true" aria-controls="collapseOne">
                            Quem pode requerer aprovação do projeto:
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </h2>
                </div>
                <div id="Quais" class="collapse conteudo-colapse " aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="t-p">
                        <b>PROPRIETÁRIO DO IMÓVEL: </b>Considera-se proprietário do imóvel a Pessoa física ou jurídica, portadora do título de propriedade registrado em Cartório de Registro Imobiliário.<br><br>
                        <b>POSSUIDOR DO IMÓVEL:</b> Considera-se possuidor do imóvel a  Pessoa física ou jurídica, bem como o seu sucessor a qualquer título, que tenha de fato o exercício pleno ou não do direto de usar imóvel objeto da obra.     <br><br>
                        <b>PROFISSIONAL HABILITADO:</b> Representa o proprietário ou possuidor do imóvel, por meio de PROCURAÇÃO para a finalidade pretendida.  	     <br><br>
                        <b>REPRESENTANTE LEGAL:</b> Representa o proprietário ou possuidor do imóvel, por meio de PROCURAÇÃO para a finalidade pretendida.   <br><br>
                        <b>DESPACHANTE MUNICIPAL:</b> Representa o proprietário do imóvel, desde que regularmente cadastrado na prefeitura.  <br><br>
                        <br>
                    </div>
                    <hr size="8" align="center" noshade class="linha style-linha">
                </div>
            </div>
            <br />
    
            <div class="item">
                <div class="item-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            TAXAS:
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse conteudo-colapse" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="t-p  mt-4">
                        <div class="quadradinho">
                            <ul>
                            <li><b>Pedido de Análise de Diretrizes de Projeto</b></li>
                            Análise por metro quadrado de construção  <b>&nbsp;&nbsp;&nbsp;&nbsp;R$ 0,002</b>
                        </ul>
                                </div>
                        <div class="quadradinho">
                            <ul>
                                <li><b>Pedido de Emissão de Alvará de Aprovação para edificações novas e reformas</b></li>
                                Exame por unidade
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;R$ 3,27</b>
                                <br />
                                Alvará
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;R$ 188,20</b>
                                </ul>
                        </div>
                        <div class="quadradinho">
                            <ul>
                                <li><b>Emissão de Ficha Técnica</b></li>
                                <b>R$ 127,15</b>
                                </ul>
                        </div>
                        <div class="quadradinho">
                            <ul>
                                <li><b>Pedido de Emissão de Alvará de Alinhamento</b></li>
                                Por metro linear de testada
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;R$ 40,87</b>
                                <br />
                                Alvará
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;R$ 202,79</b>
                                </ul>
                        </div>
                        <div class="quadradinho">
                            <ul>
                                <li><b>Pedido de Emissão de Alvará de Nivelamento</b></li>
                                Alvará
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;R$ 90,38</b>
                                </ul>
    </div>
                    </div>
                    <hr size="8" align="center" noshade class="linha style-linha">
                </div>
            </div>
    
    
            <br />
    
            <div class="item">
                <div class="item-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            PRAZOS:
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse conteudo-colapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="t-p  mt-4">
                        <br>
                        O prazo para o despacho não poderá exceder a 30 (trinta) dias. O curso desse prazo ficará suspenso durante a pendência do atendimento, pelo requerente, de exigências feitas em "comunique-se".<br>
                        O <b>Alvará de projetos</b> tem validade de dois anos.
                        <br>     <br>
                    </div>
                    <hr size="8" align="center" noshade class="linha style-linha">
                </div>
            </div>
    
            <br />
    
            <div class="item">
                <div class="item-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            COMO SOLICITAR E ONDE:
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse conteudo-colapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="t-p">
                        <br>
                        A solicitação de serviço é feita de forma digital, no sistema da prefeitura, acessando o link:
                        <a href="#">http://www.etf.js.gov.com</a>.<br><br><br>
                        
    
    
                    </div>
                    <hr size="8" align="center" noshade class="linha style-linha">
                </div>
            </div>
    
            <br />
    
            <div class="item">
                <div class="item-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Outros procedimentos relacionados:
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse conteudo-colapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="t-p">
                        <b>DESDOBRO DE LOTE:</b> documento obrigatório quando o projeto prevê a subdivisão de um lote em dois ou mais lotes.    <br><br>
    
                        <b>UNIFICAÇÃO DE LOTE:</b> documento obrigatório quando o projeto prevê a subdivisão de um lote em dois ou mais lotes para a formação de lotes maiores.    <br><br>
                        <b>ALVARÁ DE DEMOLIÇÃO: </b> documento obrigatório quando o projeto prevê a demolição total da construção já existente no lote.    <br><br>
    
    
                    </div>
                    <hr size="8" align="center" noshade class="linha style-linha">
                </div>
            </div>
    
        </div>
    </div>
    
    

  </section>  




 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>