<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/BandeiraStyle.css" />
    <link rel="stylesheet" href="vendor/aos/dist/aos.css" />


    <title>Document</title>
</head>

<body>




    <div class="container">
        <Section id="corpo">
            <div class="container mt-5">
                <div class="titulo">
                    <span>
                        ELEMENTOS
                    </span>
                </div>
                <hr class="mt-0">
            </div><br />
            <div class="pg-bandeira">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 intro-container" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="tile" data-aos="fade-right" data-aos-duration="1000">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="assets/img/fundoRS6.jpg" title="" alt="" class="bandeira">
                                    </div>
                                    <div class="col-lg-12" id="botao">
                                        <div class="botao-teste">
                                            <a href="assets/img/fundoRS6.jpg" download="Bandeira-da-PraiaGrande"
                                                class="button">Faça o Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 tiles-container" style="transform: translate3d(0px, -16px, 0px);">
                            <div class="tiles-container-title" data-aos="fade-up">
                                <h3>Bandeira</h3>
                            </div>
                            <div class="tiles-list" data-aos="fade-up">
                                <div class="row">
                                    <h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in imperdiet tortor.
                                        Sed vitae laoreet odio. Suspendisse commodo eu arcu sit amet mollis. Nulla
                                        facilisi. Suspendisse condimentum, quam id finibus accumsan, felis lorem ornare
                                        tortor, interdum porttitor nibh lacus in augue. Mauris dolor velit, condimentum
                                        eu lectus quis, imperdiet egestas ante. Praesent iaculis, mi ac facilisis
                                        tincidunt, augue est luctus leo, suscipit pulvinar lorem libero nec eros.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />

            <div class="pg-bandeira">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-4 intro-container" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="traco-brasao" data-aos="fade-left" data-aos-duration="1000">
                                <div class="row">
                                    <div class="col-lg-12 justify-brasao">
                                        <img src="assets/img/brasaosix.png" title="" alt="" class="brasaoo">
                                    </div>
                                    <div class="col-lg-12" id="botao">
                                        <div class="botao-brasao">
                                            <a href="assets/img/brasaosix.png" download="Brasao-da-PraiaGrande"
                                                class="button">Faça o Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 tiles-container" style="transform: translate3d(0px, -46px, 0px);">
                            <div class="titulo-brasao" data-aos="fade">
                                <h3>Brasão</h3>
                            </div>
                            <div class="texto-emblema" data-aos="fade-up">
                                <div class="row">
                                    <h3 class="fonte-brasao">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in imperdiet tortor.
                                        Sed vitae laoreet odio. Suspendisse commodo eu arcu sit amet mollis. Nulla
                                        facilisi. Suspendisse condimentum, quam id finibus accumsan, felis lorem ornare
                                        tortor, interdum porttitor nibh lacus in augue. Mauris dolor velit, condimentum
                                        eu lectus quis, imperdiet egestas ante. Praesent iaculis, mi ac facilisis
                                        
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />

            <div class="pg-bandeira">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 intro-container" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="tile" data-aos="fade-right" data-aos-duration="1000">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="assets/img/notamusical.png" title="" alt="" class="logo-musica">
                                    </div>
                                    <div class="col-lg-12" id="botao">
                                        <div class="botao-teste">
                                            <a href="#" download="Hino-da-PraiaGrande" class="button">Faça o
                                                Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 tiles-container" style="transform: translate3d(0px, -118px, 0px);">
                            <div class="tiles-container-title margin-titulo" data-aos="fade-up">
                                <h3 class="titulo-hino">Hino Da Instituição</h3>
                            </div>
                            <div class="tiles-list" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">

                                        <h3>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in imperdiet
                                            tortor. Sed vitae laoreet odio. Suspendisse commodo eu arcu sit amet mollis.
                                            Nulla facilisi. Suspendisse condimentum, quam id finibus accumsan,</h3>

                                    </div>
                                    <div class="col-md-6 col-sm-6">

                                        <h3>
                                            mi ac facilisis tincidunt, augue est luctus leo, suscipit pulvinar lorem
                                            libero nec eros. Ut pharetra lacus sed nisi molestie viverra. Aliquam luctus
                                            diam sed ipsum rutrum condimentum. Sed in enim in felis suscipit pretium et
                                            ut metus.

                                        </h3>

                                    </div>
                                    <div class="autor">(Letra e música: Oscar Gomes Cardim)</div>
                                </div>
                                <audio controls autoplay>
                                    <source src="~/img/Audio/HinoPraiaGrande.mp3" type="audio/mpeg">

                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>










        </Section>
    </div>
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/aos/dist/aos.js" asp-append-version="true"></script>
    <script>
        AOS.init();
    </script>








</body>

</html>