<center>
	<div style="text-align: center;">​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​&#160; &#160;<img
			src="/sites/servicos/SiteAssets/ServicosOnLine/Secretaria_Planejamento_roxo.png" alt=""
			style="margin: 2px; width: 1000px; height: 100px;" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
	</div>
	<div style="text-align: center;">&#160;&#160;​&#160;&#160;<img
			src="/sites/servicos/SiteAssets/ServicosOnLine/servicosOnLine_roxo.png" alt=""
			style="margin: 2px; width: 1000px;" />&#160;​</div>
	<table class="ms-rteTable-0 " cellspacing="0" style="width: 915px; height: 319px;">
		<tbody>

			<tr class="ms-rteTableEvenRow-0" style="text-align: center;">
				<!-- <th class="ms-rteTableFirstCol-0" rowspan="1" colspan="1" style="width: 11.11%;">
				<div>
				   <a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"><img alt="GeoProcessamento.png" src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" style="margin: 5px; width: 88px; height: 77px;"/>​</a></div>
				<div>
				</div>
			 </th> -->
				<td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 11.11%;">
					<a title="Atendimento (SAU)​​" href="http://servico.intra.pg/sau/login.asp" target="_blank"> ​<img
							alt="Negociação Online Sefin.png" src="/Sedettra/SiteAssets/SitePages/sistemas/Sau.png"
							style="margin: 5px; width: 77px; height: 66px; font-size: 13.33px;" /></a>
				</td>
				<td class="ms-rteTableEvenCol-0" rowspan="1" colspan="1" style="width: 11.11%;">
					<a title="Gestão Educação" href="http://sistemas.intra.pg/ServicosOnline/GestaoEducacao/"
						target="_blank"><img alt="Negociação Online Sefin.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/mochila.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>
				</td>
				<td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 11.11%;">
					<a title="Gestão Habitação​"
						href="http://sistemas.intra.pg/ServicosOnline/GestaoHabitacao/Login/Login.aspx?ReturnUrl=/ServicosOnline/GestaoHabitacao/Default.aspx"
						target="_blank"><img alt="Negociação Online Sefin.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/icon_casa.jpg"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>
				</td>
				<!-- <td class="ms-rteTableEvenCol-0" rowspan="1" colspan="1" style="width: 11.11%;"> 
				<a title="Gestão Cadastro Receita​" href="http://sistemas.intra.pg/ServicosOnline/GestaoCadastroReceita/" target="_blank"><img class="ms-rtePosition-3" alt="cadastroReceita.png" src="/Sedettra/SiteAssets/SitePages/sistemas/cadastroReceita.png" style="margin: 5px;"/> </a></td> -->
				<!-- <td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 11.11%;"> 
				<a title="Gestão Receita Débito" href="http://sistemas.intra.pg/ServicosOnline/GestaoReceitaDebito" target="_blank"><img alt="Negociação Online Sefin.png" src="/Sedettra/SiteAssets/SitePages/sistemas/receitafinanceira.png" style="margin: 5px; width: 77px; font-size: 13.33px;"/></a> </td> -->
				<!-- <td class="ms-rteTableEvenCol-0" valign="top" rowspan="1" style="width: 105px;"> 
				<a title="Processo Digital" href="http://processodigital.praiagrande.sp.gov.br/" target="_blank" style="text-decoration-line: underline;"><img alt="processo Digital" src="/sites/servicos/SiteAssets/ServicosOnLine/icone_processo.png" class="ms-rtePosition-4" style="margin: 5px; width: 100px; font-size: 13.33px;"/></a>​​​</td> -->
				<!-- <td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 145px;"> 
				<a title="​​​Portal" href="http://www.praiagrande.sp.gov.br/gestorportalpg/" target="_blank"><img alt="Negociação Online Sefin.png" src="/Sedettra/SiteAssets/SitePages/sistemas/servi%C3%A7os%20online.png" style="margin: 5px; width: 77px; font-size: 13.33px;"/></a></td> -->
				<td class="ms-rteTableLastCol-0" rowspan="1" colspan="1" style="width: 11.11%;">
					<span class="ms-rteTableOddCol-0"><a title="Almoxarifado"
							href="http://sistemas.intra.pg/ServicosOnline/ADM/" target="_blank"><img
								alt="Negociação Online Sefin.png"
								src="/Sedettra/SiteAssets/SitePages/sistemas/almoxarifo.png"
								style="margin: 5px; width: 77px; font-size: 13.33px;" /></a></span>
				</td>
			</tr>

			<tr class="ms-rteTableOddRow-0" style="text-align: center;">
				<td class="ms-rteTableFirstCol-0" rowspan="1" colspan="1">
					<a title="Geo Processamento"
						href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento" target="_blank"
						style="font-size: 14.66px;"><strong class="ms-rteFontSize-2">GEO
							Processamento​</strong></a><strong style="font-size: 14.66px;">​</strong><br />
				</td>
				<td class="ms-rteTableOddCol-0" valign="top">
					<span class="ms-rteFontSize-2"><a title="Atendimento (SAU)"
							href="http://servico.intra.pg/sau/login.asp" target="_blank"><strong
								class="ms-rteFontSize-2">Atendimento ​​​(SAU)​</strong></a><strong>​</strong></span>
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top">
					<strong class="ms-rteFontSize-2">​</strong><a title="Gestão Educação"
						href="http://sistemas.intra.pg/ServicosOnline/GestaoEducacao/" target="_blank">
						<font class="ms-rteFontSize-2"><strong>Gestão Educação</strong></font>
					</a>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top">
					<span class="ms-rteFontSize-2"><strong>​​</strong><a title="Gestão Habitação"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoHabitacao/Login/Login.aspx?ReturnUrl=/ServicosOnline/GestaoHabitacao/Default.aspx"
							target="_blank"><strong class="ms-rteFontSize-2">Gestão
								Habitação</strong></a><strong>​</strong></span>
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top">
					<span class="ms-rteFontSize-2"><strong>​<a title="Gestão Cadastro Receita"
								href="http://sistemas.intra.pg/ServicosOnline/GestaoCadastroReceita"
								target="_blank"><strong class="ms-rteThemeForeColor-5-0 ms-rteFontSize-2">Gestão
									Cadastro<br />Receita​</strong></a></strong></span>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top">
					<span class="ms-rteFontSize-2"></span><a title="Gestão Receita Débito"
						href="http://sistemas.intra.pg/ServicosOnline/GestaoReceitaDebito" target="_blank"><strong
							class="ms-rteThemeForeColor-5-0 ms-rteFontSize-2">Gestão Receita Débito</strong></a>
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1" style="width: 105px; height: 54px;">​​<a
						title="Processo Digital" href="http://processodigital.praiagrande.sp.gov.br/" target="_blank">
						<font class="ms-rteFontSize-2"><strong>Pr​ocesso<br />&#160;Digital</strong></font>
					</a></td>
				<td class="ms-rteTableOddCol-0" valign="top" style="width: 145px;">
					<span class="ms-rteFontSize-2"><strong>​</strong><a title="Portal"
							href="http://www.praiagrande.sp.gov.br/gestorportalpg/" target="_blank"><strong
								class="ms-rteFontSize-2">​​Portal</strong></a></span>
				</td>
				<td class="ms-rteTableLastCol-0" valign="top">
					<font color="#0072c6">
						<span style="font-size: 14.6667px;">
							<b>
								<a href="http://sistemas.intra.pg/ServicosOnline/ADM/">Requisições
									&#160;Compras/Serviços​</a></b></span>
					</font>
				</td>
			</tr>

			<tr class="ms-rteTableEvenRow-0" style="text-align: center;">
				<th class="ms-rteTableFirstCol-0" rowspan="1" colspan="1" style="width: 100px;">
					<a title="Gestão Veicular" href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/"
						target="_blank"><img class="ms-rteFontSize-2 ms-rtePosition-5" alt="Gestão Veicular.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png"
							style="margin: 5px; width: 77px;" /></a><strong>​</strong>
				</th>
				<td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 100px;">​​<a
						title="Registro de Preço" href="http://servico.intra.pg/registro_preco.asp" target="_blank"><img
							alt="Negociação Online Sefin.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/registro%20pre%C3%A7o.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a><strong>​</strong></td>
				<td class="ms-rteTableEvenCol-0" rowspan="1" colspan="1" style="width: 100px;">
					<a title="Requisições Internas" href="http://sistemas.intra.pg/ServicosOnline/ADM/"
						target="_blank"><img alt="Negociação Online Sefin.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/requisi%C3%A7%C3%B5es%20internas.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>
				</td>
				<td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 100px;">
					<span class="ms-rteTableEvenCol-0"><a title="Receita" href="http://recmobi.intra.pg/Receita/"
							target="_blank"><img alt="Negociação Online Sefin.png"
								src="/Sedettra/SiteAssets/SitePages/sistemas/receita.png"
								style="margin: 5px; width: 77px; font-size: 13.33px;" /></a></span>
				</td>
				<td class="ms-rteTableEvenCol-0" rowspan="1" colspan="1" style="width: 100px;">
					<a title="PROGEM" href="http://app.intra.pg/intra2/index2.asp?projeto=2" target="_blank"><img
							alt="Negociação Online Sefin.png" src="/Sedettra/SiteAssets/SitePages/sistemas/sajur.jpg"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a><strong>​</strong>
				</td>
				<td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 100px;">
					<a title="SEFIN" href="http://app.intra.pg/intra2/index2.asp?projeto=4" target="_blank"><img
							alt="Negociação Online Sefin.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/gest%C3%A3o%20financeira.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>
				</td>
				<td class="ms-rteTableEvenCol-0" rowspan="1" colspan="1" style="width: 105px;">
					<a title="SESAP" href="http://app.intra.pg/intra2/index2.asp?projeto=5" target="_blank"><img
							alt="Negociação Online Sefin.png" src="/Sedettra/SiteAssets/SitePages/sistemas/Saude.png"
							style="margin: 5px; width: 77px; height: 66px; font-size: 13.33px;" /></a>
				</td>
				<td class="ms-rteTableOddCol-0" rowspan="1" colspan="1" style="width: 145px;">
					<span class="ms-rteTableEvenCol-0" style="width: 11.11%;"><a title="Protocolo"
							href="http://app.intra.pg/intra2/index2.asp?projeto=1" target="_blank"><img
								alt="Negociação Online Sefin.png"
								src="/Sedettra/SiteAssets/SitePages/sistemas/Protocolo.png"
								style="margin: 5px; width: 77px; font-size: 13.33px;" /></a></span>
				</td>
				<td class="ms-rteTableLastCol-0" rowspan="1" colspan="2" style="width: 100px;">
					<span class="ms-rteTableEvenCol-0" style="width: 11.11%;">​<a title="Protocolo"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoJuridico/" target="_blank"><img
								alt="Negociação Online Sefin.png"
								src="/Sedettra/SiteAssets/SitePages/sistemas/GestaoJuridico.png"
								style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>​</span>
				</td>
			</tr>

			<tr class="ms-rteTableOddRow-0">
			</tr>

			<tr class="ms-rteTableEvenRow-0" style="text-align: center;">
				<th class="ms-rteTableFirstCol-0" rowspan="1" colspan="1" style="width: 100px; text-align: center;">
					<span class="ms-rteFontSize-2"><strong>​</strong><a title="Gestão Veicular"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" target="_blank">​<strong
								class="ms-rteFontSize-2">Gest​ão
								<br />Veicu​lar</strong></a><strong>​</strong></span>
				</th>
				<td class="ms-rteTableOddCol-0" valign="top" style="width: 100px;">​<span
						class="ms-rteFontSize-2"><strong>​</strong><a title="Registro de Preço"
							href="http://servico.intra.pg/registro_preco.asp" target="_blank"><strong
								class="ms-rteFontSize-2">Reg​​istro de Preço</strong></a><strong>​</strong></span></td>
				<td class="ms-rteTableEvenCol-0" valign="top" style="width: 100px;">
					<span class="ms-rteFontSize-2"><strong>​</strong><a title="Requisições Internas"
							href="http://sistemas.intra.pg/ServicosOnline/ADM/"><strong
								class="ms-rteFontSize-2">Requ​​​​isições Internas</strong></a></span>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" style="width: 100px;">
					<span class="ms-rteFontSize-2"><strong>​</strong><strong>​​</strong><a title="Receita"
							href="http://recmobi.intra.pg/Receita/" target="_blank"><strong
								class="ms-rteFontSize-2">Receita</strong></a></span>
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top" style="width: 100px;">
					<span class="ms-rteFontSize-2"><strong>​​</strong><a title="PROGEM"
							href="http://app.intra.pg/intra2/index2.asp?projeto=2" target="_blank"><strong
								class="ms-rteFontSize-2">PROGEM​</strong></a><strong>​</strong></span>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" style="width: 100px;">
					<span class="ms-rteFontSize-2"><a title="SEFIN"
							href="http://app.intra.pg/intra2/index2.asp?projeto=4" target="_blank"><strong
								class="ms-rteFontSize-2">SEFIN</strong></a></span>
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top" style="width: 105px;">
					<span class="ms-rteFontSize-2"><strong>​</strong><a title="SESAP"
							href="http://app.intra.pg/intra2/index2.asp?projeto=5" target="_blank"><strong
								class="ms-rteFontSize-2">SESAP</strong></a></span>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" style="width: 145px;">
					<span class="ms-rteFontSize-2"><a title="Protocolo"
							href="http://app.intra.pg/intra2/index2.asp?projeto=1" target="_blank"><strong
								class="ms-rteFontSize-2">Protocolo</strong></a>​</span>&#160;
				</td>
				<td class="ms-rteTableLastCol-0" valign="top" style="width: 100px;">
					<span class="ms-rteFontSize-2"><a title="Protocolo"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoJuridico/" target="_blank"><strong
								class="ms-rteFontSize-2">Gestão Juridico​</strong></a>​</span>&#160;
				</td>
			</tr>

			<tr class="ms-rteTableOddRow-0" style="text-align: center;">
				<th class="ms-rteTableFirstCol-0" rowspan="1" colspan="1" style="width: 100px;">​<span
						class="ms-rteTableEvenCol-0" style="width: 11.11%;">​<a title="Protocolo"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoQualidadeVida" target="_blank"><img
								alt="Negociação Online Sefin.png"
								src="/Sedettra/SiteAssets/SitePages/sistemas/Qualidade04.png"
								style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>​</span>​ </th>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1" style="width: 100px;">​<a
						title="Gestão de Ocorrências " href="http://sistemas.intra.pg/ServicosOnline/GestaoOcorrencia/"
						target="_blank" style="text-decoration: underline;"><img alt="Negociação Online Sefin.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/b.o.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a></td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1" style="width: 100px;">​<a
						title="Gestão Esporte" href="http://sistemas.intra.pg/ServicosOnline/GestaoEsporte"
						target="_blank" style="text-decoration: underline;"><img alt="GestaoEsportes.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/GestaoEsportes.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a></td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1" style="width: 100px;">​<a
						title="Gestão Orçamentária" href="http://sistemas.intra.pg/ServicosOnline/Financas/Default.aspx"
						target="_blank" style="text-decoration: underline;"><img alt="GestaoOrcamentaria.png"
							src="/Sedettra/SiteAssets/SitePages/sistemas/GestaoOrcamentaria.png"
							style="margin: 5px; width: 77px; font-size: 13.33px;" /></a>​</td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1" style="width: 100px; text-align: center;">
					<a title="Emitir Certidões" href="https://emitircertidoes.praiagrande.sp.gov.br/" target="_blank"
						style="text-decoration-line: underline;"><img alt="Cadastro Habitação"
							src="/Sedettra/SiteAssets/SitePages/sistemas/certidao1.png" class="ms-rteFontSize-2"
							style="margin: 5px; width: 88px;" /></a>​​​​​​​​​​
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1" style="width: 100px;">​​​​​​​​​​<a
						title="Recursos Humanos" href="http://appservicos.intra.pg/ServicosOnline/GestaoRecursosHumanos"
						target="_blank" style="text-decoration-line: underline;"><img alt="Negociação Online Sefin.png"
							src="/sites/servicos/SiteAssets/ServicosOnLine/icone_rh.png"
							style="margin: 5px; width: 77px; height: 66px; font-size: 13.33px;" /></a></td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1" style="width: 100px;">
					<a title="Requisição de processos arquivados"
						href="http://appservicos.intra.pg/ServicosOnline/RequisicaoProcessoFisico/Login?url=/ServicosOnline/RequisicaoProcessoFisico/"
						target="_blank" style="text-decoration-line: underline;">
						<img alt="Requisição de processos arquivados.png"
							src="/sites/servicos/SiteAssets/ServicosOnLine/Requisi%C3%A7%C3%A3oProcessoArquivado.png"
							style="margin: 5px; width: 77px; font-size: 13.33px; height: 66px;" /></a>​
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1" style="width: 145px;">​​​​<a
						title="Gestão Receita Débito Novo"
						href="http://appservicos.intra.pg/ServicosOnline/GestaoReceitaDebitoNew/Login/Login.aspx"
						target="_blank" style="text-decoration-line: underline;"><img alt="Receita Débito Novo"
							src="/sites/servicos/SiteAssets/ServicosOnLine/ReceitaDebitoNovo.png"
							class="ms-rtePosition-4"
							style="margin: 5px; width: 77px; font-size: 13.33px; height: 66px;" /></a></td>
				<td class="ms-rteTableLastCol-0" valign="top" rowspan="1" style="width: 100px;">​​<span>​​​​</span><a
						title="Cadastro de Voluntários"
						href="http://appservicos.intra.pg/ServicosOnline/CadastroVoluntarios/" target="_blank"
						style="text-decoration-line: underline;"><img alt="Receita Débito Novo"
							src="/sites/servicos/SiteAssets/ServicosOnLine/CadastroVoluntariosIcone.png"
							class="ms-rtePosition-4"
							style="margin: 5px; width: 77px; font-size: 13.33px; height: 66px;" /></a></td>
			</tr>

			<tr class="ms-rteTableEvenRow-0">
				<th class="ms-rteTableFirstCol-0" rowspan="1" colspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<span class="ms-rteFontSize-2"><a
							title="Protocolo" href="http://sistemas.intra.pg/ServicosOnline/GestaoQualidadeVida"
							target="_blank"><strong class="ms-rteFontSize-2">Qualidade de Vid​a</strong></a></span>​
				</th>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<strong
						style="color: #0072c6; font-size: 14.66px;"><a title="Gestão de Ocorrências"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoOcorrencia/" target="_blank">Gestão de
							Ocorrências</a></strong></td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<strong
						style="color: #0072c6; font-size: 14.66px;"><a title="Gestão Esporte"
							href="http://sistemas.intra.pg/ServicosOnline/GestaoEsporte" target="_blank">Gestão
							Esporte</a></strong></td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<strong
						style="color: #0072c6; font-size: 14.66px;"><a title="Gestão Orçamentária"
							href="http://sistemas.intra.pg/ServicosOnline/Financas/Default.aspx" target="_blank">Gestão
							Orçamentária</a></strong></td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<a title="Acervo Técnico" href="http://servico.intra.pg/acervotec/" target="_blank">
						<font class="ms-rteFontSize-2"><strong><strong class="ms-rteFontSize-2"
									style="color: #777777; text-align: center;"></strong></strong></font>
					</a>
					<font class="ms-rteFontSize-2"><strong><strong class="ms-rteFontSize-2"
								style="color: #777777; text-align: center;"><a
									href="https://emitircertidoes.praiagrande.sp.gov.br/" title="Emitir certidões"
									target="_blank" style="text-decoration-line: underline;"><span
										class="ms-rteFontSize-2"><strong>Emitir&#160;<br />Certidões</strong></span></a>&#160;</strong>​</strong>
					</font>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<a title="Recursos Humanos" href="http://appservicos.intra.pg/ServicosOnline/GestaoRecursosHumanos"
						target="_blank">
						<font class="ms-rteFontSize-2">
							<strong>Ges​​tão&#160;Recursos​​<br />Humanos​</strong>
						</font>
					</a>​​​
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1" style="width: 100px; height: 54px;">
					<div style="text-align: center;">​<span style="color: #777777;">​​</span><strong
							class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0" style="font-size: 14.6667px;"><a
								href="http://appservicos.intra.pg/ServicosOnline/RequisicaoProcessoFisico/">​</a>​​</strong>​​​<span
							style="color: #777777;">​​</span><strong class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0"
							style="font-size: 14.6667px;"></strong><strong
							class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0" style="font-size: 14.6667px;"><a
								href="http://appservicos.intra.pg/ServicosOnline/RequisicaoProcessoFisico/Login?url=/ServicosOnline/RequisicaoProcessoFisico/"
								title="Requisição de processos arquivados">Requisição&#160;de
								Processos&#160;Arquivados​</a>​​</strong><span style="color: #777777;">​</span></div>
				</td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1" style="width: 145px; height: 54px;">
					<div style="text-align: center;">​​​​<strong class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0"
							style="font-size: 14.6667px;"><a
								href="http://appservicos.intra.pg/ServicosOnline/RequisicaoProcessoFisico/">​</a>​​</strong><span>​​​</span><span>​​
							<font color="#0072c6"><span style="font-size: 14.6667px;"><b><a
											href="http://appservicos.intra.pg/ServicosOnline/GestaoReceitaDebitoNew/Login/Login.aspx">Gestão&#160;Receita
											Débito</a><br /></b></span></font>
						</span></div>
					<span style="color: #777777;"></span>
				</td>
				<td class="ms-rteTableLastCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<span class="ms-rteFontSize-2">​<strong><a
								href="http://appservicos.intra.pg/ServicosOnline/CadastroVoluntarios/"
								target="_blank">Cadastro de Voluntários</a></strong></span>
				</td>
			</tr>

			<tr class="ms-rteTableOddRow-0">
				<th class="ms-rteTableFirstCol-0" rowspan="1" colspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a title="Cadastro Ambulante"
						href="http://ambulante.praiagrande.sp.gov.br/admin/" target="_blank"
						style="text-decoration-line: underline;"><img alt="Cadastro de Ambulantes"
							src="/Sedettra/SiteAssets/SitePages/sistemas/cad_ambulante.png"
							style="margin: 5px; width: 75px; font-size: 13.33px;" /></a></th>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1" style="width: 100px; height: 54px;">​<a
						title=" Cadastro Habitação" href="https://cadastrohabitacao.praiagrande.sp.gov.br/Login"
						target="_blank" style="text-decoration-line: underline; text-align: center;"><img
							alt="Cadastro Habitação" src="/Sedettra/SiteAssets/SitePages/sistemas/habitacao.png"
							style="margin: 5px; width: 76px; font-size: 13.33px;" /></a></td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a
						href="http://agendamentoservicosadm.praiagrande.sp.gov.br/" title="Agendamento Sefin"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/icone_agendamento_roxo.png"
							alt="Agendamento SeFin" style="margin: 5px; width: 76px; height: 76px;" /></a></td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a
						href="https://requerimentomobiliario.praiagrande.sp.gov.br/login/login"
						title="Requerimento Finanças"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/requerimento%20online.png"
							alt="Requerimento Finanças" style="margin: 0px 5px; width: 76px;" /></a></td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a
						href="http://requerimentoantenas.praiagrande.sp.gov.br/login/login" title="Requerimento Antenas"
						style="text-decoration-line: underline;"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/req_antena.png" alt="Requerimento Antenas"
							class="ms-rtePosition-4" style="margin: 5px; width: 75px;" /></a></td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<a href="http://www.cidadaopg.sp.gov.br/bolsa_transporte/" title="Bolsa Transporte"
						style="text-decoration-line: underline; text-align: center;">
						<img src="/sites/servicos/SiteAssets/ServicosOnLine/transporte.png" alt="Bolsa transporte"
							class="ms-rtePosition-4" style="margin: 5px; width: 75px; height: 80px;" /></a>​​<a
						href="http://requerimentoantenas.praiagrande.sp.gov.br/login/login" title="Requerimento Antenas"
						style="text-decoration-line: underline;"></a>
				</td>
				<td class="ms-rteTableEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">&#160; &#160;&#160;<a
						href="https://requerimentoprofissional.praiagrande.sp.gov.br/login/login"
						title="cadastro profissional" style="text-decoration-line: underline; text-align: center;"><img
							src="/sites/servicos/SiteAssets/ServicosOnLine/engineer-svgrepo-com%20(1).svg"
							alt="cadastro profissional" class="ms-rtePosition-4"
							style="margin: 5px; width: 75px; height: 80px;" /></a>​​&#160; ​&#160; &#160;</td>
				<td class="ms-rteTableOddCol-0" valign="top" rowspan="1"
					style="width: 145px; height: 54px; text-align: center;">​<a
						href="https://licencatemporariaespecialambulante.praiagrande.sp.gov.br/login/login"
						title="Licença temporária de ambulantes" style="text-decoration-line: underline;"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/licenca.jpg"
							alt="Licença Temporária de ambulantes" class="ms-rtePosition-4"
							style="margin: 5px; width: 90px; height: 80px;" /></a>​</td>
				<td class="ms-rteTableLastCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​&#160; &#160;&#160;<a
						href="https://patrimonioimobiliario.praiagrande.sp.gov.br/Login/Login.aspx?ReturnUrl=/"
						title="Áreas Públicas"><img src="/sites/servicos/SiteAssets/ServicosOnLine/AreasPublicas.png"
							alt="" style="margin: 5px; width: 90px; height: 80px;" /></a></td>
			</tr>

			<tr class="ms-rteTableFooterRow-0">
				<th class="ms-rteTableFooterFirstCol-0" rowspan="1" colspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<span class="ms-rteFontSize-2" style="color: #777777;">
						<a href="http://ambulante.praiagrande.sp.gov.br/admin/" title="Cadastro de ambulantes">
							<strong class="ms-rteFontSize-2">Cadastro de Ambulantes​</strong></a><br /><br /><br /><a
							title="RelatoriosSefin" href="https://relatoriossefin.praiagrande.sp.gov.br/"
							target="_blank" style="text-decoration-line: underline; text-align: center;"><img
								alt="RelatoriosSefin" src="/Sedettra/SiteAssets/SitePages/sistemas/relatorio2.png"
								style="margin: 5px; width: 98px; font-size: 13.33px;" /></a><span
							class="ms-rteFontSize-1" style="font-size: 7pt;"><span
								style="font-size: 1pt;">​</span></span><br /><a
							href="https://relatoriossefin.praiagrande.sp.gov.br/" title="RelatoriosSefin"
							style="font-size: 14.6667px; text-align: center;"><strong
								class="ms-rteFontSize-2">Relatórios&#160;<br />SEFIN​</strong></a><br /></span>
				</th>
				<td class="ms-rteTableFooterOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a
						href="https://cadastrohabitacao.praiagrande.sp.gov.br/" title="Cadastro Habitação"
						target="_blank" style="font-size: 14.6667px;"><strong class="ms-rteFontSize-2">Cadast​​ro
							​​​​​Habitação</strong></a><br /><span class="ms-rteFontSize-2"
						style="display: none;"></span><br /><br /><br /><span class="ms-rteFontSize-3"
						style="font-size: 7pt;">​​</span><br />
					<div class="ms-rtestate-read ms-rte-wpbox" contenteditable="false" unselectable="on">
						<div class="ms-rtestate-notify  ms-rtestate-read 6e10f963-4bc9-4274-bba6-e134a216d927"
							id="div_6e10f963-4bc9-4274-bba6-e134a216d927" unselectable="on">
						</div>
						<div id="vid_6e10f963-4bc9-4274-bba6-e134a216d927" unselectable="on" style="display: none;">
						</div>
					</div>
					<strong class="ms-rteFontSize-2">​​​​</strong>​<br />
				</td>
				<td class="ms-rteTableFooterEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a
						href="http://agendamentoservicosadm.praiagrande.sp.gov.br/" title="Agendamento" target="_blank"
						style="font-size: 14.6667px;"><strong class="ms-rteFontSize-2">Agendamento
							<br />Sefin</strong></a>​​</td>
				<td class="ms-rteTableFooterOddCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<span class="ms-rteFontSize-2">​</span><a
						href="https://requerimentomobiliario.praiagrande.sp.gov.br/login/login"></a><a
						href="https://requerimentomobiliario.praiagrande.sp.gov.br/login/login"
						title="Requerimento Finanças">
						<div style="display: inline;">
							<strong class="ms-rteThemeForeColor-5-0 ms-rteFontSize-2"
								style="text-decoration-style: solid; text-decoration-color: #0072c6;">Requerimentos
								​​Mobiliário</strong>​
						</div>
					</a><br />
				</td>
				<td class="ms-rteTableFooterEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<a
						href="http://requerimentoantenas.praiagrande.sp.gov.br/login/login" title="Requerimento Antenas"
						style="text-align: center;">
						<div style="display: inline;">
							<strong
								class="ms-rteThemeForeColor-5-0 ms-rteFontSize-2">Requerimento<br />Antenas​</strong>
						</div>
					</a><span style="text-decoration: underline;">​</span></td>
				<td class="ms-rteTableFooterOddCol-0" valign="top" rowspan="1" style="width: 100px; height: 54px;">
					<blockquote style="margin: 0px 0px 0px 40px; border: none; padding: 0px;">
					</blockquote>
					<div style="text-align: center;">
						<font class="ms-rteFontSize-2">
							<strong>
								<strong style="color: #0072c6; font-size: 14.66px;">
									<a href="http://www.cidadaopg.sp.gov.br/bolsa_transporte/"
										title="Bolsa Transporte">Bolsa</a></strong></strong>
						</font>
					</div>
					<div style="text-align: center;">
						<font class="ms-rteFontSize-2">
							<strong>
								<strong style="color: #0072c6; font-size: 14.66px;">
									<a href="http://www.cidadaopg.sp.gov.br/bolsa_transporte/" title="Bolsa Transporte">
										Transporte&#160;ADM</a></strong>​</strong>
						</font><a href="http://requerimentoantenas.praiagrande.sp.gov.br/login/login"
							title="Requerimento Antenas" style="text-decoration-line: underline;">
							<div style="display: inline;">
								<strong class="ms-rteThemeForeColor-5-0 ms-rteFontSize-2"
									style="text-decoration-style: solid; text-decoration-color: #0072c6;">​</strong>
							</div>
						</a>
					</div>
					<div style="text-align: center;">
					</div>
				</td>
				<td class="ms-rteTableFooterEvenCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">
					<font color="#0072c6"><span style="font-size: 14.66px;"><b></b></span></font><a
						href="https://requerimentoprofissional.praiagrande.sp.gov.br/login/login"
						title="Cadastro Profissional"><strong
							style="color: #777777; font-size: 14.6667px; text-align: center;"><strong
								style="color: #0072c6; font-size: 14.66px;">Cadastro<br />Profissional</strong></strong>​</a>
				</td>
				<td class="ms-rteTableFooterOddCol-0" valign="top" rowspan="1"
					style="width: 145px; height: 54px; text-align: center;">​<strong
						class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0" style="font-size: 14.66px;"><a
							title="Licença Temporário de Ambulantes"
							href="https://t-licencatemporariaespecialambulante.praiagrande.sp.gov.br/" target="_blank"
							style="text-decoration-line: underline;">​</a><strong
							class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0"
							style="font-size: 14.66px; text-align: center;"><a title="Licença Temporário de Ambulantes"
								href="https://licencatemporariaespecialambulante.praiagrande.sp.gov.br/login/login"
								target="_blank">​Licença&#160;Temporária de Ambulantes​</a>​​</strong><span
							style="color: #777777; text-align: center;">&#160;​</span></strong><span
						style="color: #777777;">&#160;​</span></td>
				<td class="ms-rteTableFooterLastCol-0" valign="top" rowspan="1"
					style="width: 100px; height: 54px; text-align: center;">​<strong
						class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0"
						style="font-size: 14.66px; text-align: center;"><strong
							class="ms-rteFontSize-2 ms-rteThemeForeColor-5-0" style="font-size: 14.66px;"><a
								title="Áreas Públicas"
								href="https://patrimonioimobiliario.praiagrande.sp.gov.br/Login/Login.aspx?ReturnUrl=/"
								target="_blank">Cadastro&#160;de&#160;<br />&#160;Patrimônio&#160;Imobiliario</a></strong></strong><a
						href="https://patrimonioimobiliario.praiagrande.sp.gov.br/Login/Login.aspx?ReturnUrl=/"><span
							style="color: #777777; text-align: center;">&#160;​<br />&#160;​​</span><span
							style="text-decoration: underline;">​</span></a></td>
			</tr>

		</tbody>
	</table>​​​
	<br />
</center>
<center>​​​​​​​​​​​​​​​​​</center>
<center>​​​​​​​​</center>
<center>​​​​​​​​​​​​​​​​​​​​​</center>
<center> ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​</center> ​​


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
<style>
	body {
		background: #e8cbc0;
		background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
		background: linear-gradient(to right, #e8cbc0, #636fa4);
		min-height: 100vh;
	}

	.social-link {
		width: 30px;
		height: 30px;
		border: 1px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #666;
		border-radius: 50%;
		transition: all 0.3s;
		font-size: 0.9rem;
	}

	.social-link:hover,
	.social-link:focus {
		background: #ddd;
		text-decoration: none;
		color: #555;
	}

	.icone {
		text-decoration: none;
	}

	a.icones {
		text-decoration: none;

	}

	h5.mb-0 {
		color: #000;
	}

	.bg-white.rounded.shadow-sm.py-1 {
		width: 110px;
	}

	.h5, h5 {
    font-size: 13px;
}
</style>

<!------------------------------------------ SERVIÇOS QUE TODAS SECRETARIAS USAM  ------------------------------------------------------------>



<div class="container margem">
	<div class="display-4">
		<span>Serviços Online</span>
	</div>



	<div class="container">
		<div class="row text-center">

			<span>Gerais</span>
			<hr size="2" align="center" noshade class="linha">

			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">GEO <br> Processamento</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoCadastroReceita/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/cadastroReceita.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão, Cadastro e Receita</h5>
					</div>
				</a>
			</div> <!-- End -->

			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoReceitaDebito" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/receitafinanceira.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão, receita e Débito</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://processodigital.praiagrande.sp.gov.br/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/sites/servicos/SiteAssets/ServicosOnLine/icone_processo.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0"><br>Processo Digital</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://www.praiagrande.sp.gov.br/gestorportalpg/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/servi%C3%A7os%20online.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0"><br>Portal</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão <br> Veicular</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Registro <br>de Preço</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0"><br>Receita</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0"><br>PROGEM</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão <br>Juridico</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Qualidade<br> de Vida</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão de Ocorrencias</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão Orçamentária</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0"><br>Emitir Certidões</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Gestão Receita Débito</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Cadastro de Ambulantes</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-sm-6 mb-5">
				<a href="http://sistemas.intra.pg/ServicosOnline/GestaoVeicular/" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="/Sedettra/SiteAssets/SitePages/sistemas/gestaoVeicular.png" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Requerimentos Mobiliário</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			

			<!------------------------------------------ SERVIÇOS ESPECIFICOS DE CADA SECRETÁRIA  ------------------------------------------------------------>
			<div class="row">
				<div class="col-xl-6 col-sm-6 mb-5">
					<span>Sefin</span>
					<hr size="2" align="center" noshade class="linha">
					<!-- Team item -->
					<div class="row">
						<div class="col-xl-3 col-sm-6 mb-5">
							<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">GEO <br> Processamento</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-sm-6 mb-5">
							<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">GEO <br> Processamento</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-sm-6 mb-5">
							<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">GEO <br> Processamento</h5>
								</div>
							</a>
						</div>
						<!-- End -->
					</div>
				</div>

				<div class="col-xl-6 col-sm-6 mb-5">
					<span>Planejamento</span>
					<hr size="2" align="center" noshade class="linha">
					<!-- Team item -->
					<div class="row">
						<div class="col-xl-3 col-sm-6 mb-5">
							<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">GEO <br> Processamento</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-sm-6 mb-5">
							<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">GEO <br> Processamento</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-sm-6 mb-5">
							<a href="https://geopg.praiagrande.sp.gov.br/ServicosOnline/GeoProcessamento"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="/Sedettra/SiteAssets/SitePages/sistemas/GeoProcessamento.png" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">GEO <br> Processamento</h5>
								</div>
							</a>
						</div>
						<!-- End -->
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>