<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../atendimento/css/extrato_debitos.css" rel="stylesheet" type="text/css" media="screen" />

    <title>Prefeitura Praia Grande.:: RELATÓRIOS OUVIDORIA ::.</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style>
        .btn-acessar{
            background-color:#363636;
            color: white!important;
        }
        .caixa-sefin{
            background-color:#363636;
        }
    </style>
</head>


    <!------------------------- TOPO ----------------------------------->
   
        <!-- #include file="../assets/include/menuNovoNewVersion.asp"   -->
    


    <!------------------------- CORPO DO SITE ----------------------------------->

    <body class="d-flex flex-column h-100">
     <Section id="corpo">

    <div class="container">    

      <section class="caminho-site mt-4">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item home"><a
                                    href="https://www.praiagrande.sp.gov.br/HomePortal-.asp?cd_pagina=71">Home</a></li>
                            <li class="breadcrumb-item linky"><a
                                    href="../atendimento/home.asp">Servi&#231;os
                                    online</a></li>
                                       <li class="breadcrumb-item linky"><a
                                    href="../atendimento/governo.asp">Governo</a></li>
                            <li class="breadcrumb-item active" aria-current="page">RELATÓRIOS OUVIDORIA MUNICIPAL</li>
                        </ol>
        </nav> 
      </div>
      </section>

      <div class="Subtitulo mt-3">
        <h2>RELATÓRIOS OUVIDORIA MUNICIPAL</h2></div>
      


      <div class="container mt-5" style="padding-top:0px">

        
        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2013 a Out/2013</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/1RelatoriodaOuvidoria.pdf"  target='_blank' role="button">Acessar</a>
          </div>
        </div>

        <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Nov/2013 a Abr/2014</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/2RelatoriodaOuvidoria.pdf" target='_blank' role="button">Acessar</a>
          </div>
        </div>        

        <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2014 a Out/2014</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/3RelatoriodaOuvidoria.pdf"  target='_blank' role="button">Acessar</a>
          </div>
        </div>        

        <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Nov/2014 a Abr/2014</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/4RelatoriodaOuvidoria.pdf"  target='_blank'  role="button">Acessar</a>
          </div>
        </div>        

        <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2015 a Out/2015</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/5RelatoriodaOuvidoria.pdf" target='_blank' role="button">Acessar</a>
          </div>
        </div>        

                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Nov/2015 a Abr/2016</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/6RelatoriodaOuvidoria.pdf"  target='_blank' role="button">Acessar</a>
          </div>
        </div>    
                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2016 a Out/2016</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/7RelatoriodaOuvidoria.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>    

                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Nov/2016 a Abr/2017</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/8RelatoriodaOuvidoria.pdf" target='_blank' role="button">Acessar</a>
          </div>
        </div>    

                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2017 a Out/2017</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/9RelatoriodaOuvidoria.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>    

                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Nov/2017 a Abr/2018</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/10RelatoriodaOuvidoria.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>    

                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2018 a Out/2018</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/11_RelatoriodaOuvidoria.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>    

                  <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Nov/2018 a Abr/2019</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/12_RelatoriodaOuvidoriaPG.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>         
                           <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Mai/2019 a Dez/2019</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/13_RelatoriodaOuvidoriaPG.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>  
                           <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Anual 2020</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/14_RelatórioOuvidoria.pdf" target='_blank'  role="button">Acessar</a>
          </div>
        </div>    
                           <hr size="2" width="100%" align="center" noshade class="linha">

        <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Anual 2021</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/15_RelatórioOuvidoria.pdf"  target='_blank' role="button">Acessar</a>
          </div>
        </div>  
           <hr size="2" width="100%" align="center" noshade class="linha">
		   
		           <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Anual 2022</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/16_RelatórioOuvidoria.pdf"  target='_blank' role="button">Acessar</a>
          </div>
		  
        </div>  
           <hr size="2" width="100%" align="center" noshade class="linha">
		   <div class="row sefin-item">
          <div class="col-md-11 col-sm-6 mobile">
            <p class="paragrafo"><b>Relatório Anual 2023</b></p>
          </div>
          <div class="col-md-1 col-sm-6 mobile">
            <a class="btn-acessar" href="../arquivos/banner_ouvidoria/relatorio/17_RelatórioOuvidoria.pdf"  target='_blank' role="button">Acessar</a>
          </div>
        </div>  
           <hr size="2" width="100%" align="center" noshade class="linha">
</div> 
</div> 
  </Section>

    <!------------------------- FOOTER ----------------------------------->
   
        <!-- #include file="../assets/include/footerNovoNewVersion.asp"   -->
    

    <script src="../assets/include/bootstrap.bundle.min.js">
    </script>
    <script src="../assets/js/script.js"></script>


</body>
<!-- by:LPS -->

</html>