<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">    
<link rel="stylesheet" href="../agendamento/assets/css/style.css" />   


<div class="d-flex justify-content-center">
    <!-- LPS -->
    <img class="imagem" src="../agendamento/assets/img/NOVO-BANNER1-agendamento-online.jpg">
    <img class="img-fluid imagem-mobile" src="../agendamento/assets/img/jpg/NOVO-BANNER1-agendamento-online.jpg">
</div>

<div class="container margem">  



    <div class="corpo">
        <span class="titulo">
            <b style="padding-left: 30px; float: left;">Sistema de Agendamento Online</b>
        </span>
        <BR>
        <div class="t-p smt-4">
            O Agendamento Online é o serviço digital criado para que o cidadão possa marcar um horário de atendimento presencial em uma unidade municipal, sem a necessidade de sair de sua casa.<br /><br />
            O atendimento presencial pode ser solicitado sempre que não for possível resolver uma questão por telefone ou pela internet.<br /><br />
            Ao selecionar um serviço que já pode ser realizado de casa, sem a necessidade de deslocamento até o local, o sistema permite que o cidadão acesse diretamente o link para realização do serviço, agilizando seu atendimento.
        </div>

    </div>



    <br>

 
    <br>

    <div class="row">
        <div class="col-md-4 col-sm-6 alinhamento-botao">
        
        </div>
        <div class="col-md-4 col-sm-6 alinhamento-botao">
            <a href="#" class="btn w-100 style-btn" style="background-color: #363636 !important; color: white !important; font-size: 30px;  ">Acessar</a>
        </div>
        <div class="col-md-4 col-sm-6 alinhamento-botao">
           
        </div>
    </div>
    <br>
    <hr size="8" align="center" noshade class="linha style-linha">

    <div class="accordion" id="accordionExample">
        <div class="item">
            <div class="item-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Agendamento" aria-expanded="true" aria-controls="collapseOne">
                        Qual o objetivo do Agendamento Online?
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="Agendamento" class="collapse show" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="t-p mt-4">

                    <ul style="line-height:300%">
                        <li>Facilitar o acesso aos serviços oferecidos pela Administração Municipal;</li>
                        <li>Organizar e gerenciar os atendimentos;</li>
                        <li>Oferecer comodidade e praticidade aos cidadãos, reduzindo o tempo de espera;</li>
                        <li>Oferecer agilidade e mobilidade na oferta de serviços públicos;</li>
                        <li>Reduzir a necessidade de deslocamento dos moradores;</li>
                        <li>Fortalecer a cidadania digital.</li>
                        <li>Informação clara e transparente.</li>
                    </ul>
                </div>
            </div>
        </div>

        <hr size="8" align="center" noshade class="linha style-linha">
        <div class="item">
            <div class="item-header" id="headingOne">
                <h2 class="mb-0">
                    <!-- LPS -->
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Quais" aria-expanded="true" aria-controls="collapseOne">
                        Quais os benefícios?
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="Quais" class="collapse show" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="t-p">
                    <ul style="line-height:300%">
                        <li><b>Facilidade de uso:</b> com interface intuitiva você navega pelo sistema sem dificuldades, permitindo selecionar qual setor de interesse, o assunto que deseja atendimento, com diversos detalhes sobre o que é necessário levar no dia;</li>
                        <li><b>Flexibilidade:</b> visualização das datas e horários disponíveis para agendamento, permitindo que você escolha o momento mais adequado ao seu dia a dia;</li>
                        <li><b>Notificações: </b>envio de e-mail automático sobre os seus agendamentos, para registro e lembrete do seu compromisso. Recebimento de mensagem antecipada sobre eventuais mudanças ou cancelamentos.</li>
                        <li><b>Redução de filas e tempo de espera:</b> com o agendamento antecipado você diminui o tempo de espera e economiza tempo.</li>
                        <li><b>Acompanhamento detalhado:</b> acesso ao histórico completo de seus agendamentos, podendo consultá-lo a qualquer momento e obter informações sobre cada serviço solicitado.</li>
                    </ul>

                </div>
            </div>
        </div>

        <hr size="8" align="center" noshade class="linha style-linha">
        <div class="item">
            <div class="item-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Como acessar?
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                 <!-- LPS -->
                <div class="t-p mt-4">
                    O acesso pode ser feito através do link <a href="#">https://agendamento.praiagrande.sp.gov.br</a><br><br>

                    Para agendar é necessário realizar um cadastro pelo LOGIN ÚNICO ou, caso você já tenha cadastro, basta informar seu Login e Senha.<br><br>
                    Para o primeiro acesso será necessário que o usuário aceite os termos de uso, política de privacidade e atendimento da LGPD.<br><br>
                    Caso esteja na dúvida de quais serviços estão disponíveis para agendamento, é possível verificar todos os setores e assuntos cadastrados ao clicar em “ASSUNTOS”.


                </div>
            </div>
        </div>


        <hr size="8" align="center" noshade class="linha style-linha">

        <div class="item">
            <div class="item-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Como me cadastrar?
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="t-p  mt-4">
                    O cadastro pode ser realizado acessando o link <a href="#">https://loginunico.praiagrande.sp.gov.br/Cadastrar/Cadastro</a> do seu celular ou computador e por meio dos totens localizados no saguão do Paço Municipal, nos terminais de ônibus e no Poupatempo.
                    <br />    <br />
                    Para o cadastro são necessários os seguintes dados:    <br />
                    <ul>
                        <br />
                        <li>CPF</li>
                        <li>Senha</li>
                        <li>Nome Completo</li>
                        <li>E-mail</li>
                        <li>Telefone</li>
                    </ul>
                    <b>OBS:</b> Após preencher os dados, é necessário aceitar o termo de veracidade das informações
                    e concordância com os termos, condições e política de privacidade do município.<br /><br />
                    Todos os dados cadastrados ficarão armazenados em banco de dados da prefeitura, de forma segura e protegida, para identificação e acesso aos demais serviços digitais oferecidos pelo município, para integração automática entre sistemas operacionais e de forma anonimizada em análises e estudos para implantação de políticas públicas
                </div>
            </div>
        </div>

        <hr size="8" align="center" noshade class="linha style-linha">

        <div class="item">
            <div class="item-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Login Único
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="t-p">
                    O Login Único de Praia Grande é uma plataforma de autenticação, unificação e centralização dos dados pessoais básicos.<br /><br />
                    Nele é possível adicionar ou atualizar dados como endereços e contatos, e o histórico de acessos aos sistemas, e sessões ativas do usuário.<br /><br />
                    Para acessar o Login Único da Prefeitura, basta acessar www.praiagrande.sp.gov.br e clicar em “Área do Usuário”, no canto superior direito da sua tela inicial, ou diretamente em "Serviços Online", quando for utilizar algum serviço específico do Município que necessite de autenticação.<br /><br />
                    Outros dados poderão ser solicitados de acordo com o serviço a ser acessado.<br /><br />
                    Ao finalizar o cadastro, será enviada uma mensagem para o e-mail informado com um link para habilitar a conta.<br /><br />
                    Registre sempre um e-mail que você possa acessar, pois todos os contatos digitais serão feitos por ele.


                </div>
            </div>
        </div>

        <hr size="8" align="center" noshade class="linha style-linha">

        <div class="item">
            <div class="item-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Não recebi o e-mail de confirmação, o que eu faço?
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="t-p">
                    O e-mail de confirmação é enviado para o e-mail que você cadastrou. Você deve acessar sua caixa de entrada do e-mail e confirmar seu cadastro clicando no link de confirmação. Lembre-se de verificar também a área de “SPAM” ou “Lixo Eletrônico”.<br /><br />
                    Caso ainda não consiga acessar o e-mail de verificação, basta clicar em “Esqueci minha senha” que um novo e-mail será enviado.


                </div>
            </div>
        </div>

        <hr size="8" align="center" noshade class="linha style-linha">

        <div class="item">
            <div class="item-header" id="headingsix">
                <!-- LPS -->
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        Ainda tem alguma dúvida?
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </h2>
            </div>
            <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                <div class="t-p">
                    Se você tiver alguma dúvida ou quer fazer alguma sugestão, basta enviar um e-mail para
                    <a class="link-acesso" href="mailto:agendamento@praiagrande.sp.gov.br?subject=Assunto">agendamento@praiagrande.sp.gov.br</a> que responderemos em breve.


                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>