

#secretarias .item-secretaria figure:hover {
    box-shadow: 0 0 21px #222222;
}

#secretarias .item-secretaria {
    min-height: 120px;
    padding: 0px;
}

@media (min-width: 1201px) and (max-width: 1800px) {
    #secretarias .item-secretaria {
        width: 10%;
    }
}

#secretarias .item-secretaria figure {
    text-align: center;
    background-color: #04002b;
    margin: 5px;
    border: solid;
    border-radius: 5px;
    border-block-color: black;
    text-decoration: none;
    height: 150px;
}

#secretarias .item-secretaria figure img {
    width: 50px;
    height: 50px;
    margin-top:10px;
}

#secretarias .item-secretaria figure p {
    color: white;
    font-size: 14px;
}

#secretarias .item-secretaria figure p b {
    font-size: 20px;
}

#secretarias .item-secretaria figure a {
    text-decoration: none;
}

@media (min-width: 901px) and (max-width: 1200px) {
    #secretarias .item-secretaria figure {
        height: 104px !important;
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    #secretarias .item-secretaria figure {
        width: 122px !important;
    }
}

@media (max-width: 500px) {
    #secretarias .item-secretaria figure {
        width: 177px !important;
    }

    #secretarias .item-secretaria {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 599px) and (max-width: 767px) {
        #secretarias .item-secretaria figure {
            width: 97px !important;
        }
    }
}
