<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Paralax Scrolling Web - Dubai</title>
</head>

<body>
    <header>
        <h2 class="logo">LeoProStyle</h2>
        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Places</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <section class="parallax">
        <img src="assets/img/stars.png" id="stars">
        <img src="assets/img/burjkhalifa.png" id="burjkhalifa">
        <img src="assets/img/building.png" id="building">
        <img src="assets/img/dubaitext.png" id="dubaitext">
    </section>

    <section class="sec">
        <h2>Dubai - United Arab Emirates</h2>
        <h2>Parallax Scrolling Website</h2>

        <p>Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the Copyright Act
            1976, allowance is made for "fair use" for purposes such as criticism, comment, news reporting, teaching,
            scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be
            infringing. Non-profit, educational or personal use tips the balance in favor of fair use.Disclaimer video
            is for educational purpose only. Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance
            is made for "fair use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and
            research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit,
            educational or personal use tips the balance in favor of fair use.Disclaimer video is for educational
            purpose only. Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for "fair
            use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use
            is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or
            personal use tips the balance in favor of fair use.Disclaimer video is for educational purpose only.
            Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for
            purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use
            permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use
            tips the balance in favor of fair use.Disclaimer video is for educational purpose only. Copyright Disclaimer
            Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as
            criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by
            copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the
            balance in favor of fair use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under
            Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism,
            comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright
            statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in
            favor of fair use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107
            of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair
            use.Disclaimer video is for educational purpose only. Copyright Disclaimer Under Section 107 of the
            Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news
            reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might
            otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use.</p>
    </section>
<script src="assets/js/script.js"></script>
</body>

</html>