<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/Style.css" />
    <title>Wifi</title>
</head>


<body>
    <div class="container">
        <h2><strong>APROVAÇÃO DE PROJETOS PARTICULARES</strong></h2>
        <h2>Lei Complementar n° 154 de 17 de dezembro de 1996 e alterações posteriores</h2>
        <div class="linha"></div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 id="divTeste"><i class="bi bi-list-task"> </i> Selecione a opção desejada:</h3>

                    <div class="radio-tile-group row">
                        <div class="col-sm-6 col-md-6 mg-block">
                            <div class="pading-btn">
                                <a class="btn btn-primary style-btn" id="edificacaoNova"><i class="bi bi-plus-circle"
                                        style="font-size:50px !important;"></i></a>
                                        <span class="d-flex justify-content-center textoSP">Nova solicitação</span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 mg-block">
                            <div class="pading-btn">
                            <a class="btn btn-primary style-btn" for="reforma" id="reforma" name="TipoProjetoId"> <i class="bi bi-file-earmark-text"
                                    style="font-size:50px !important;"></i></a>
                                <span class="d-flex justify-content-center textoSP">Consultar andamento</span>
                            </div>
                        </div>


                    </div>
                    <span id="alerta-TipoProjeto" style="display:none; color:red;"></span>


                </div>
            </div>
        </div>


    </div>






    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>