<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Builder</title>

        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />

        <link rel="stylesheet" href="assets/css/builder.css" />
    </head>

    <body>
        <div class="m-3">
            <div id="fb-builder-container"></div>

            <div class="mt-1">
                <button type="button" class="btn btn-outline-dark" id="btn-limpar-campos">Limpar</button>
                <button type="button" class="btn btn-outline-dark" id="btn-obter-arr-obj">Objetos JS</button>
                <button type="button" class="btn btn-outline-dark" id="btn-obter-json">JSON</button>
                <button type="button" class="btn btn-outline-dark" id="btn-obter-xml">XML</button>
                <button type="button" class="btn btn-outline-dark" id="btn-salvar-formulario">Salvar</button>
            </div>
        </div>

        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/jquery-ui-sortable/jquery-ui.min.js"></script>
        <script src="../node_modules/inputmask/dist/jquery.inputmask.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/formBuilder/dist/form-builder.min.js"></script>

        <script src="assets/js/builder.js"></script>
    </body>
</html>
