<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>PDF</title>

        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
    </head>

    <body>
        <div class="m-3">
            <div id="fb-builder-container"></div>

            <div class="mt-1">
                <button type="button" class="btn btn-outline-dark" id="btn-gerar-pdf">Gerar PDF</button>
            </div>
        </div>

        <script src="../node_modules/jspdf/dist/jspdf.umd.min.js"></script>
        <script src="../node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>

        <script src="assets/js/pdf.js"></script>

        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ratione quas recusandae repellendus quod temporibus incidunt eligendi neque consectetur voluptate a vel doloremque, inventore rem, similique minima accusantium tenetur nihil aperiam.
    </body>
</html>
