<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Render</title>

        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />

        <link rel="stylesheet" href="assets/css/render.css" />
    </head>

    <body>
        <div class="m-3">
            <div id="fb-render-container"></div>

            <div class="mt-1">
                <button type="button" class="btn btn-outline-dark" id="btn-obter-modificacao-formulario">Obter Modificação</button>
                <button type="button" class="btn btn-outline-dark" id="btn-salvar-formulario">Salvar</button>
            </div>
        </div>

        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/jquery-ui-sortable/jquery-ui.min.js"></script>
        <script src="../node_modules/formBuilder/dist/form-builder.min.js"></script>
        <script src="../node_modules/formBuilder/dist/form-render.min.js"></script>
        <script src="../node_modules/inputmask/dist/jquery.inputmask.min.js"></script>
        <script src="assets/js/render.js"></script>
    </body>
</html>
