# Clerk Authentication (Nova configuração)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmV4dC1rb2RpYWstNjQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_NDHX9ZEbR3tXUvq4U6iRNrDqzq6jpeh3gAqIjHNwtj

# Configurações de URL do Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# URLs de redirecionamento padrão (para clientes)
# O AuthProvider vai redirecionar para /admin se for um administrador
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/client
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/client

# URLs das áreas restritas
NEXT_PUBLIC_ADMIN_URL=/admin
NEXT_PUBLIC_CLIENT_URL=/client

# MongoDB
MONGODB_URI=mongodb+srv://leoprostyle:refael123456@cluster0.ej9ys7i.mongodb.net

# Admin Configuration
# Lista de emails de administradores separados por vírgula
NEXT_PUBLIC_ADMIN_EMAILS=leoprostyle@gmail.com,rafaeltxt@gmail.com