


    <div class="container">
        <h4>Botoes do Portal</h1>
    </div>


    <div class="container">
        <section Botao 01>
            
            <div class="row">

                <div class="col-12 col-xl-6">
                    <!-- Exemplo de Botão 1 -->
                    <div class="element">

                        <button type="submit" class="btn btn-acessar mx-1">Pesquisar</button>

                        <!-- Abas de código -->
                        <ul class="nav nav-tabs mt-2" id="button1Tab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="html-button1-tab" data-bs-toggle="tab" data-bs-target="#html-button1" type="button" role="tab" aria-controls="html-button1" aria-selected="true">HTML</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="css-button1-tab" data-bs-toggle="tab" data-bs-target="#css-button1" type="button" role="tab" aria-controls="css-button1" aria-selected="false">CSS</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="js-button1-tab" data-bs-toggle="tab" data-bs-target="#js-button1" type="button" role="tab" aria-controls="js-button1" aria-selected="false">JS</button>
                            </li>
                        </ul>

                        <!-- Conteúdo das abas -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="html-button1" role="tabpanel" aria-labelledby="html-button1-tab">
                                <div class="code-box">
                                    <pre><code>&lt;button type=&quot;submit&quot; class=&quot;btn btn-acessar mx-1&quot;&gt;Pesquisar&lt;/button&gt;</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar HTML</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="css-button1" role="tabpanel" aria-labelledby="css-button1-tab">
                                <div class="code-box">
                                    <pre><code>
    .btn-acessar {
    border-color: #363636;
    background: #363636;
    color: #fff;
    padding-inline: 32px;

    &:hover, &:focus, &:active {
    border-color: #363636 !important;
    background-color: #545353 !important;
    color: #fff !important;
    }
    }
</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar CSS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="js-button1" role="tabpanel" aria-labelledby="js-button1-tab">
                                <div class="code-box">
                                    <pre><code>// Nenhum JS específico para este botão.</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar JS</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-xl-6">
                    <!-- Exemplo de Botão 1 -->
                    <div class="element">

                        <button type="submit" class="btn btn-acessar-sm  btn-sm mx-1">Pesquisar</button>


                        <!-- Abas de código -->
                        <ul class="nav nav-tabs mt-2" id="button2Tab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="html-button2-tab" data-bs-toggle="tab" data-bs-target="#html-button2" type="button" role="tab" aria-controls="html-button2" aria-selected="true">HTML</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="css-button2-tab" data-bs-toggle="tab" data-bs-target="#css-button2" type="button" role="tab" aria-controls="css-button2" aria-selected="false">CSS</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="js-button2-tab" data-bs-toggle="tab" data-bs-target="#js-button2" type="button" role="tab" aria-controls="js-button2" aria-selected="false">JS</button>
                            </li>
                        </ul>

                        <!-- Conteúdo das abas -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="html-button2" role="tabpanel" aria-labelledby="html-button2-tab">
                                <div class="code-box">
                                    <pre><code>&lt;button type=&quot;submit&quot; class=&quot;btn btn-acessar-sm  btn-sm  mx-1&quot;&gt;Pesquisar&lt;/button&gt;</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar HTML</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="css-button2" role="tabpanel" aria-labelledby="css-button2-tab">
                                <div class="code-box">
                                    <pre><code>
    .btn-acessar-sm {
    background: #363636;
    color: #fff;
    padding-inline: 52px;


    &:hover, &:focus, &:active {
    border-color: #363636 !important;
    background-color: #545353 !important;
    color: #fff !important;
    }
    }
</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar CSS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="js-button2" role="tabpanel" aria-labelledby="js-button2-tab">
                                <div class="code-box">
                                    <pre><code>// Nenhum JS específico para este botão.</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar JS</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section Botao 02>
            <div class="row mt-4">
                <div class="col-12 col-xl-6">
                    <!-- Exemplo de Botão 2 -->
                    <div class="element">

                        <a class="btn btn-acessar mx-1" href="seu-link-aqui" role="button" target="_blank">
                            Acessar
                        </a>

                        <!-- Abas de código -->
                        <ul class="nav nav-tabs mt-2" id="button3Tab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="html-button3-tab" data-bs-toggle="tab" data-bs-target="#html-button3" type="button" role="tab" aria-controls="html-button3" aria-selected="true">HTML</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="css-button3-tab" data-bs-toggle="tab" data-bs-target="#css-button3" type="button" role="tab" aria-controls="css-button3" aria-selected="false">CSS</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="js-button3-tab" data-bs-toggle="tab" data-bs-target="#js-button3" type="button" role="tab" aria-controls="js-button3" aria-selected="false">JS</button>
                            </li>
                        </ul>

                        <!-- Conteúdo das abas -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="html-button3" role="tabpanel" aria-labelledby="html-button3-tab">
                                <div class="code-box">
                                    <pre><code>&lt;a class=&quot;btn btn-acessar mx-1&quot;href=&quot;seu-link-aqui&quot; role=&quot;button&quot;target=&quot;_blank&quot;&gt;Acessar&lt;/a&gt;</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar HTML</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="css-button3" role="tabpanel" aria-labelledby="css-button3-tab">
                                <div class="code-box">
                                    <pre><code>
    .btn-acessar {
    border-color: #363636;
    background: #363636;
    color: #fff;
    padding-inline: 32px;

    &:hover, &:focus, &:active {
    border-color: #363636 !important;
    background-color: #545353 !important;
    color: #fff !important;
    }
    }
</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar CSS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="js-button3" role="tabpanel" aria-labelledby="js-button3-tab">
                                <div class="code-box">
                                    <pre><code>// Nenhum JS específico para este botão.</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar JS</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-6">
                    <!-- Exemplo de Botão 2 -->
                    <div class="element">

                        <a class="btn btn-acessar-sm btn-sm mx-1" href="seu-link-aqui" role="button" target="_blank">
                            Acessar
                        </a>

                        <!-- Abas de código -->
                        <ul class="nav nav-tabs mt-2" id="button4Tab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="html-button4-tab" data-bs-toggle="tab" data-bs-target="#html-button4" type="button" role="tab" aria-controls="html-button4" aria-selected="true">HTML</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="css-button4-tab" data-bs-toggle="tab" data-bs-target="#css-button4" type="button" role="tab" aria-controls="css-button4" aria-selected="false">CSS</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="js-button4-tab" data-bs-toggle="tab" data-bs-target="#js-button4" type="button" role="tab" aria-controls="js-button4" aria-selected="false">JS</button>
                            </li>
                        </ul>

                        <!-- Conteúdo das abas -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="html-button4" role="tabpanel" aria-labelledby="html-button4-tab">
                                <div class="code-box">
                                    <pre><code>&lt;a class=&quot;btn btn-acessar-sm btn-sm mx-1&quot;href=&quot;seu-link-aqui&quot; role=&quot;button&quot;target=&quot;_blank&quot;&gt;Acessar&lt;/a&gt;</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar HTML</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="css-button4" role="tabpanel" aria-labelledby="css-button4-tab">
                                <div class="code-box">
                                    <pre><code>
    .btn-acessar-sm {
    background: #363636;
    color: #fff;
    padding-inline: 52px;


    &:hover, &:focus, &:active {
    border-color: #363636 !important;
    background-color: #545353 !important;
    color: #fff !important;
    }
    }
</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar CSS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="js-button4" role="tabpanel" aria-labelledby="js-button4-tab">
                                <div class="code-box">
                                    <pre><code>// Nenhum JS específico para este botão.</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar JS</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <section Botao 03>
            <div class="row mt-4">
                <div class="col-12 col-xl-12">
                    <!-- Exemplo de Botão 2 -->
                    <div class="element">

                        <div class="row justify-content-center">
                            <div class="col-md-4 col-12">
                                <a href="---coloque seu link aki---" target="_blank" class="btn btn-introdutorio d-flex justify-content-center">ACESSAR</a>
                            </div>
                            <div class="col-md-4 col-12">
                                <a href="---coloque seu link aki---" target="_blank" class="btn btn-introdutorio d-flex justify-content-center">CARTILHA</a>
                            </div>
                            <div class="col-md-4 col-12">
                                <a href="---coloque seu link aki---" target="_blank" class="btn btn-introdutorio">MANUAL DO USUÁRIO</a>
                            </div>
                        </div>


                        <!-- Abas de código -->
                        <ul class="nav nav-tabs mt-2" id="button5Tab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="html-button5-tab" data-bs-toggle="tab" data-bs-target="#html-button5" type="button" role="tab" aria-controls="html-button5" aria-selected="true">HTML</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="css-button5-tab" data-bs-toggle="tab" data-bs-target="#css-button5" type="button" role="tab" aria-controls="css-button5" aria-selected="false">CSS</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="js-button5-tab" data-bs-toggle="tab" data-bs-target="#js-button5" type="button" role="tab" aria-controls="js-button5" aria-selected="false">JS</button>
                            </li>
                        </ul>

                        <!-- Conteúdo das abas -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="html-button5" role="tabpanel" aria-labelledby="html-button5-tab">
                                <div class="code-box">
                                    <pre><code>
    &lt;div class=&quot;row justify-content-center&quot;&gt;
    &lt;div class=&quot;col-md-4 col-12&quot;&gt;
    &lt;a href=&quot;---coloque seu link aki---&quot; target=&quot;_blank&quot; class=&quot;btn btn-introdutorio d-flex justify-content-center&quot;&gt;ACESSAR&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-4 col-12&quot;&gt;
    &lt;a href=&quot;---coloque seu link aki---&quot; target=&quot;_blank&quot; class=&quot;btn btn-introdutorio d-flex justify-content-center&quot;&gt;CARTILHA&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-4 col-12&quot;&gt;
    &lt;a href=&quot;---coloque seu link aki---&quot; target=&quot;_blank&quot; class=&quot;btn btn-introdutorio&quot;&gt;MANUAL DO USU&Aacute;RIO&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar HTML</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="css-button5" role="tabpanel" aria-labelledby="css-button5-tab">
                                <div class="code-box">
                                    <pre><code>
    .btn-introdutorio {
    --bs-btn-color: #fff;
    --bs-btn-bg: #363636;
    --bs-btn-border-color: #363636;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #363636;
    --bs-btn-disabled-border-color: #363636;
    padding: 15px;
    display:flex;
    justify-content:center;
    }
</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar CSS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="js-button5" role="tabpanel" aria-labelledby="js-button5-tab">
                                <div class="code-box">
                                    <pre><code>// Nenhum JS específico para este botão.</code></pre>
                                    <div class="btn-copiar">
                                        <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar JS</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>






    </div>

    <svg id="bubbles-footer" class="c-bubbles  footer mt-auto"  viewBox="0 0 1920 100">
    </svg>      