




<div class="container">
    <h4>Carrossel do Portal</h4>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-xl-12">
            <!-- Exemplo de carrossel -->
            <div class="element">

                <section id="carousel-padrao">
                    <div class="container">
                        <div class="swiper carousel-padrao">
                            <div class="swiper-wrapper">


                                <div class="swiper-slide carousel-padrao-item">
                                    <figure class="row">
                                        <div class="col-12 col-md-6 col-xl-6 img-mobile">
                                            <a class="txt-mobile-carrosel" target="_blank" href="https://picsum.photos/seed/picsum/800/600">
                                                <img class="img-fluid" src="https://picsum.photos/seed/picsum/800/600">
                                            </a>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6 txt-centro">
                                            <figcaption class="alinhamento-txt">
                                                <a class="txt-mobile-carrosel " target="_blank" href="https://picsum.photos/seed/picsum/800/600">Just add your desired image size (width & height) after our URL, and you'll get a random image.</a>

                                            </figcaption>
                                        </div>
                                    </figure>
                                </div>

                                <div class="swiper-slide carousel-padrao-item">
                                    <figure class="row">
                                        <div class="col-12 col-md-6 col-xl-6 img-mobile">
                                            <a class="txt-mobile-carrosel" target="_blank" href="https://picsum.photos/seed/picsum/800/600">
                                                <img class="img-fluid" src="https://picsum.photos/seed/picsum/800/600">
                                            </a>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6 txt-centro">
                                            <figcaption class="alinhamento-txt">
                                                <a class="txt-mobile-carrosel " target="_blank" href="https://picsum.photos/seed/picsum/800/600">Just add your desired image size (width & height) after our URL, and you'll get a random image.</a>

                                            </figcaption>
                                        </div>
                                    </figure>
                                </div>



                            </div>
                            <div id="paginacao">
                                <div class="swiper-custom-buttons">
                                    <div class="swiper-button-next ajustesD"></div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-prev ajustesE"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>


                <!-- Aba de Tabs para HTML, CSS e JS -->
                <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="html-tab" data-bs-toggle="tab" data-bs-target="#html-content"
                                type="button" role="tab" aria-controls="html-content" aria-selected="true">
                            HTML
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="css-tab" data-bs-toggle="tab" data-bs-target="#css-content"
                                type="button" role="tab" aria-controls="css-content" aria-selected="false">
                            SaaS
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="js-tab" data-bs-toggle="tab" data-bs-target="#js-content"
                                type="button" role="tab" aria-controls="js-content" aria-selected="false">
                            JavaScript
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- Conteúdo da Aba HTML -->
                    <div class="tab-pane fade show active" id="html-content" role="tabpanel" aria-labelledby="html-tab">
                        <div class="code-box">
                            <pre><code>
    &lt;section id=&quot;carousel-padrao&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;swiper carousel-padrao&quot;&gt;
    &lt;div class=&quot;swiper-wrapper&quot;&gt;


    &lt;div class=&quot;swiper-slide carousel-padrao-item&quot;&gt;
    &lt;figure class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-12 col-md-6 col-xl-6 img-mobile&quot;&gt;
    &lt;a class=&quot;txt-mobile-carrosel&quot; target=&quot;_blank&quot; href=&quot;https://picsum.photos/seed/picsum/800/600&quot;&gt;
    &lt;img class=&quot;img-fluid&quot; src=&quot;https://picsum.photos/seed/picsum/800/600&quot;&gt;
    &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-md-6 col-xl-6 txt-centro&quot;&gt;
    &lt;figcaption class=&quot;alinhamento-txt&quot;&gt;
    &lt;a class=&quot;txt-mobile-carrosel &quot; target=&quot;_blank&quot; href=&quot;https://picsum.photos/seed/picsum/800/600&quot;&gt;Just add your desired image size (width &amp; height) after our URL, and you'll get a random image.&lt;/a&gt;

    &lt;/figcaption&gt;
    &lt;/div&gt;
    &lt;/figure&gt;
    &lt;/div&gt;

    &lt;div class=&quot;swiper-slide carousel-padrao-item&quot;&gt;
    &lt;figure class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-12 col-md-6 col-xl-6 img-mobile&quot;&gt;
    &lt;a class=&quot;txt-mobile-carrosel&quot; target=&quot;_blank&quot; href=&quot;https://picsum.photos/seed/picsum/800/600&quot;&gt;
    &lt;img class=&quot;img-fluid&quot; src=&quot;https://picsum.photos/seed/picsum/800/600&quot;&gt;
    &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-md-6 col-xl-6 txt-centro&quot;&gt;
    &lt;figcaption class=&quot;alinhamento-txt&quot;&gt;
    &lt;a class=&quot;txt-mobile-carrosel &quot; target=&quot;_blank&quot; href=&quot;https://picsum.photos/seed/picsum/800/600&quot;&gt;Just add your desired image size (width &amp; height) after our URL, and you'll get a random image.&lt;/a&gt;

    &lt;/figcaption&gt;
    &lt;/div&gt;
    &lt;/figure&gt;
    &lt;/div&gt;



    &lt;/div&gt;
    &lt;div id=&quot;paginacao&quot;&gt;
    &lt;div class=&quot;swiper-custom-buttons&quot;&gt;
    &lt;div class=&quot;swiper-button-next ajustesD&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;swiper-pagination&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;swiper-button-prev ajustesE&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;

    &lt;/div&gt;

    &lt;/section&gt;
</code></pre>
                            <div class="btn-copiar">
                                <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar HTML</button>
                            </div>
                        </div>
                    </div>

                    <!-- Conteúdo da Aba CSS -->
                    <div class="tab-pane fade" id="css-content" role="tabpanel" aria-labelledby="css-tab">
                        <div class="code-box">
                            <pre><code>
#carousel-padrao {
background-color: #d7373c;
min-height: auto;

figure  {
margin: 0 0 0rem;
figure .row {
margin: 0 0 0rem;
}
}

.img-mobile {
padding-left: 0rem;
}
.carousel-padrao {
padding-top: 50px;

.swiper-wrapper {
padding-bottom: 20px;

.carousel-padrao-item {
min-height: auto;
background-color: #363636;

.txt-centro {
display: flex;
align-items: center;
}

figure figcaption {
width: 100%;
background-color: #363636;
font-size: 28px;
font-weight: 900;
color: #fff;
padding: 3% 6%;
display: flex;
justify-content: center;
align-items: center;

a {
color: #fff;
text-decoration: none;
}
}
}
}
}


.swiper-custom-buttons {
width: 400px;
height: 40px;
margin: 5px auto;


.swiper-button-next.ajustesD {
right: -67px;
float: right;
}

.swiper-button-prev.ajustesE {
left: -67px;
float: left;
}

.swiper-button-next, .swiper-button-prev {
position: relative;
z-index: 100;
width: 42px;
height: 25px;
background-color: #363636;
border-radius: 5px;
margin-top: -13px;
}

.swiper-button-next:after, .swiper-button-prev:after {
font-size: 10px;
color: #fff;
font-weight: 900;
}
.swiper-pagination .swiper-pagination-bullet {
opacity: 1;
background-color: #e0e0e0;
width: 18px;
height: 18px;
}

.swiper-pagination .swiper-pagination-bullet-active {
background-color: #363636;
border: 3px #e0e0e0 solid;
}


}
}
</code></pre>
                            <div class="btn-copiar">
                                <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar SaaS</button>
                            </div>
                        </div>
                    </div>

                    <!-- Conteúdo da Aba JavaScript -->
                    <div class="tab-pane fade" id="js-content" role="tabpanel" aria-labelledby="js-tab">
                        <div class="code-box">
                            <pre><code>
    &lt;script&gt;
    var swiper = new Swiper(&quot;.carousel-padrao&quot;, {
    pagination: {
    el: &quot;.swiper-pagination&quot;,
    clickable: true,
    },
    navigation: {
    nextEl: &quot;.swiper-button-next&quot;,
    prevEl: &quot;.swiper-button-prev&quot;,
    },
    });

    &lt;/script&gt;

    &lt;!-- Link Swiper's CSS --&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css&quot; /&gt;
    &lt;!-- Link Swiper's JS --&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js&quot;&gt;&lt;/script&gt;



</code></pre>
                            <div class="btn-copiar">
                                <button class="btn btn-primary" onclick="copiarTexto(this)">Copiar JS</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- <partial name="~/Views/Padroes/partials/_carrosel2.cshtml" /> -->

<svg id="bubbles-footer" class="c-bubbles  footer mt-auto"  viewBox="0 0 1920 100">
</svg>
<script>
    var swiper = new Swiper(".carousel-padrao", {
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

</script>