<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/Style.css" />
    <title>Document</title>
</head>
<body>
  


<!------------------------------------------ SERVIÇOS QUE TODAS SECRETARIAS USAM  ------------------------------------------------------------>



<div class="container margem">
	<div class="display-4">
		<span>Serviços Online</span>
	</div>



	<div class="container">
		<div class="row text-center">

			<span>Gerais</span>
			<hr size="2" align="center" noshade class="linha">

			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem Picsum</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem Picsum</h5>
					</div>
				</a>
			</div> <!-- End -->

			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem Picsum</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div> <!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			<!-- Team item -->
			<div class="col-xl-2 col-6 mb-5">
				<a href="#" class="icones">
					<div class="bg-white rounded shadow-sm py-1"><img
							src="https://picsum.photos/200/200" alt="" width="100"
							class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Lorem, ipsum.</h5>
					</div>
				</a>
			</div>
			<!-- End -->
			

			<!------------------------------------------ SERVIÇOS ESPECIFICOS DE CADA SECRETÁRIA  ------------------------------------------------------------>
			<div class="row">
				<div class="col-xl-6 col-sm-6 mb-5">
					<span>Sefin</span>
					<hr size="2" align="center" noshade class="linha">
					<!-- Team item -->
					<div class="row">
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
                        <!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
                         <!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
					</div>
				</div>
                <!-- ------------------------------------------sefin------------------------------------------------------------------- -->
                <div class="d-flex linhas" style="height: 400px;">
                    <div class="vr"></div>
                  </div>

                   <!-- ------------------------------------------planejamento------------------------------------------------------------------- -->

				<div class="col-xl-6 col-sm-6 mb-5">
					<span>Planejamento</span>
					<hr size="2" align="center" noshade class="linha">
					<!-- Team item -->
					<div class="row">
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
						<!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->

                        <!-- Team item -->
						<div class="col-xl-3 col-6 mb-5">
							<a href="#"
								class="icones">
								<div class="bg-white rounded shadow-sm py-1"><img
										src="https://picsum.photos/200/200" alt=""
										width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
									<h5 class="mb-0">Lorem, ipsum.</h5>
								</div>
							</a>
						</div>
						<!-- End -->
					</div>
				</div>
			</div>
		</div>
	</div>


    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>