<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login e registro HTML e CSS</title>
</head>

<body>

    <!-- header design -->
    <header class="header">
        <a href="#" class="logo">Leonardo</a>

        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>

        <nav class="navbar">
            <a href="#home" class="active" style="--i:0">Home</a>
            <a href="#sobre" style="--i:1">Sobre</a>
            <a href="#educacao" style="--i:2">Educação</a>
            <a href="#skills" style="--i:3">Skills</a>
            <a href="#contatos" style="--i:4">Contatos</a>

        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Olá, eu sou<span> Leonardo Albuquerque</span></h1>
            <div class="text-animate">
                <h3>Frontend Developer</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi recusandae tempora natus ex commodi
                tempore fugiat adipisci sequi blanditiis doloribus, ea explicabo modi quia incidunt laboriosam dolore
                repudiandae, nostrum rerum.
                Repellat sunt voluptates exercitationem dolorem repellendus saepe? Rerum minima voluptatibus alias
                reprehenderit fuga dolorem, molestias in exercitationem excepturi molestiae! Neque iste deleniti alias
                nobis repellat nisi accusantium autem sapiente pariatur.</p>

                <div class="btn-box">
                    <a href="#" class="btn">hire me</a>
                    <a href="#" class="btn">Let's Talk</a>
                </div>
        </div>
        
        <div class="home-sci">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-github' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>
    </section>

    <script src="assets/js/script.js"></script>
</body>

</html>